{
  "presets": [
    [ "env", { "modules": false } ],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        [ "env", { "targets": {"node": "current"} } ],
        "react",
        "stage-2"
      ],
      "plugins": [
        [ "babel-plugin-webpack-aliases", { "config": "./webpack.config.js" } ]
      ]
    }
  }
}