@define-mixin bgImage
  $image,
  $grStart: rgba(0,0,0,.6),
  $grEnd: rgba(0,0,0,.3),
  $bgPos: center center {
    background: linear-gradient(to bottom, $grStart, $grEnd), url($image);
    background-repeat: no-repeat;
    background-position: $bgPos;
    background-attachment: fixed;
    background-size: cover;
    max-height: $height;
  }
