@import '../../style/style.css';

.banner {
    background: red;
    right: 0;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    height: 1.5em;
    font-size: 1.2em;
}

.banner a {
    margin-left: 1em;
    color: white;
}
