@import '../../style/style.css';

.footer {
  font-size: 12px;
  width: 100%;
  color: white;
}

ul.footerLinks {
  list-style-type: none;
  line-height: 2em;
  font-weight: bold;
  font-size: 1.1em;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0px !important;
    a {
      color: white;
      background-color: transparent;
      text-decoration: none;
      border-right: 1px solid white;
      padding: 0px 10px !important;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child a {
      border: none;
      padding-right: 0;
    }
  }
}

.slogan {
  font-style: italic;
  font-size: 1.2em;
  display: inline-block;
  margin: 0 20px;
}

.logoPanel {
  float: left;
}

.noaaLogo {
  background-image: url('../../img/noaa_logo_circle_72x72.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.ciresLogo {
  background-image: url('../../img/ciresLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 273px;
  height: 48px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
