@import '../../style/style.css';

.footer {
  width: 100%;
  color: white;
  text-align: center;
}

ul.footerLinks {
  list-style-type: none;
  line-height: 2em;
  font-weight: 400;
  font-size: 1.1em;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0px !important;
    a {
      color: white;
      background-color: transparent;
      text-decoration: none;
      border-right: 1px solid white;
      padding: 0px 10px !important;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child a {
      border: none;
      padding-right: 0;
    }
  }
}
