@import '../../style/style.css';

input {
  border-radius: 0 !important;
}

.headerArea {
  border-bottom: 1px solid color($color-primary-darkest lightness(-10%));
  background: $color-primary-darkest;
  box-shadow: 0 10px 5px rgb(0,0,0,.7);
  padding: $section-padding;
  min-height: $header-height;
}

.headerLinks {
  position: absolute;
  bottom: -4em;
  width: 100%;
  font-size: 1.5em;
  text-align: right;
  display: inline-block;
  a {
    color: #d7d7d7;
    font-weight: 300;
    padding: 0 0.5em;
    transition: color 0.3s ease;
    text-decoration: none;
    &.selected, &:hover {
      color: $color-primary;
    }
  }
}

.noaaLogo {
  height: 4.5em;
  width: 4.5em;
  min-height: 4.5em;
  min-width: 4.5em;
  padding-right: 1em;
  display: inline;
}

.nceiLogo {
  height: 4.5em;
  width: 20.5em;
  min-height: 4.5em;
  min-width: 20.5em;
}

.oneStopLink {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin-top: 0.7em;
  vertical-align: top;
}

@media screen and (max-width: 761px) {
  .oneStopLink {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .orgBox {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .nceiLogo {
    display: none;
  }

  .headerLinks {
    text-align: center;
  }
}

.standardMenu {
  position: relative;
}

$menu-threshold: 60em;
@media (max-width: $menu-threshold){
  .standardMenu {
    display: none;
  }
}

@media (min-width: $menu-threshold){
  .burgerMenu {
    display: none;
  }
}

.burgerMenu {
  overflow: hidden;
  margin: 1em 0;
}


/* Burger menu */
.burgerToggle {
  display: inline-block;
  width: 40px;
  right: 0.9em;
  margin: .5em;
  position: absolute;
  padding: .1em;
  overflow: hidden;
  z-index: 1;
  user-select: none;
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  input:checked ~ span {
    opacity: 1;
    background: #232323;
  }
}

$menu-distance: 13em;
.menuContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 0;
  height: 1em;
  transition: min-height 0.4s ease-out;
  .section {
    overflow: hidden;
    transition: flex 0.4s ease-out;
    height: auto;
    flex: 1;
    background-color: white;
    nav {
      top: 1em;
      position: relative;
      bottom: inherit;
    }
  }
  .collapsed {
    flex: 0;
    transition: flex 0.4s ease-in;
  }
  a {
    display: flex;
    font-size: 1.2em;
    color: $color-primary-darkest;
    margin: .5em auto;
    justify-content: center;
  }
}

.menuOpen {
  min-height: $menu-distance;
  transition: min-height 0.4s ease-in;
}
