@import '../../style/style.css';

input {
  border-radius: 0 !important;
}

.headerArea {
  border-bottom: 1px solid color($color-primary-darkest lightness(-10%));
  background: $color-primary-darkest;
  box-shadow: 0 10px 5px rgb(0,0,0,.7);
  padding: 10px;
}

.appbar {
  clear: both;
  display: flex;
  justify-content: space-between;
  top: 24px;
  height: 210px;
  width: 100%;
}

.logo {
  float: left;
  height: 74px;
  width: 74px;
  min-height: 74px;
  min-width: 74px;
  margin-right: 20px;
}

.orgInfo {
  display: block;
  min-width: 300px;
}

.orgBox {
  display: block;
}

.orgbox:hover {
  background-position: 0 0;
}

@media screen and (max-width:1245px) {
  .orgBox {
    display: none;
  }
}

.noaa,
.doc {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  margin-right: auto;
  font-weight: normal;
  display: block;
  padding-top: 10px;
  line-height: 1.10526;
  font-size: 1.9rem;
}

.noaa {
  font-size: 1.3em;
}

.doc {
  font-size: 0.8em;
}

.oneStopText {
  color: white;
  font-size: 1.5em;
  font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
  float: right;
  padding: 0 120px 0 0;
}

.breadCrumbs {
  margin: 1% 0 2% 23%;
  width: 85%;
  font-size: 1.3em;
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.landingComponents {
  float: right;
  color: black;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  position: relative;
  z-index: 10;
}

/*.dropDown {*/
  /*padding: 10px 0 0 0;*/
  /*display: inline-block;*/
/*}*/

.results {
  margin-bottom: 80px;
}

.details {
  position: fixed;
  top: 108px;
  left: 400px;
  bottom: 24px;
}

.leftNav {
  z-index: 2;
  float: left;
  display: inline-block;
  top: 24px;
  bottom: 24px;
}

/*search fields*/
.searchFields {
  display: inline;
  font-size: 1.2em;
  height: 3em;
  z-index: 999;
}
/*search container*/
.searchContainer {
  color: black;
  margin-top: .9em;
  width: 40%;
  display: inline-block;
}

/*temporal and map*/
.temporalContent {
  /*position: absolute;*/
  /*z-index: 1;*/
}

.mapContainer,
.temporalContainer {
  position: relative;
  display: inline-block;
}

.mapContent {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-top: 2em;
  margin-left: -45em;
  box-shadow: 14px 14px 5px rgb(0,0,0,.7);
  border: 2px outset $color-primary;
}

.clearButton {
  margin-left: -1.26em;
  height: 1em;
  color: grey;
  border: none;
  font-size: 1.2em;
  border: none;
  text-shadow: none;
  background-color: white;
}
.clearButton:hover {
  color: #5a5a5a;
}

/*search button*/
.landingButton {
  color: white;
  font-size: 1.3em;
  border: none;
  text-shadow: 0 0 5px black;
  background-color: rgb(0,0,0,0);
  margin-right: .5em;
}

.mapButton {
  max-height: 2.2em;
  position: relative;
  color: white;
  background-color: $color-primary;
  text-shadow: 0 0 5px black;
  margin-right: .5em;
  margin-left: .5em;
}
/* fix for large, unclickable area on button */
.mapButton:before{
    position:absolute;
    content:'';
    top:-1px;
    right:-1px;
    left:-1px;
    bottom:-1px;
}

.globeIcon {
    text-align: center;
    line-height: 64%;
}
