@import '../../style/style.css';

.rootContainer {
  position: relative;
  min-height: 100vh;
  margin-bottom: calc(-$footer-height + 2 * -$section-padding);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-primary-darkest;
  min-height: $footer-height;
  clear: both;
  padding: $section-padding;
}
