@import '../../style/style.css';

.header {
  top: 0;
  left: 0;
  height: 24px;
  width: 100%;
  margin: 0 auto;
}

.bottomBorder {
  border-bottom: solid $color-gray 5px;
}

.panel {
  max-width: 90%;
  margin: 5px auto;
}

.searchMapSpace{

}

.logSty img, #searchbox.searchHover{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.appbar {
  clear: both;
  display: flex;
  justify-content: space-between;
  top: 24px;
  height: 210px;
  width: 100%;
}

.logo {
  height: 100px;
  float: left;
}

.logSty a {
  position: relative;
}

.logSty a, .searchHover span{
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.logSty:hover img, #searchbox.searchHover:hover{
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.logSty:hover a, .searchHover:hover span{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.orgBox {
  margin: 10px 0 0;
  display: block;
}

.orgbox:hover {
  background-position: 0 0;
}

@media screen and (max-width:938px) {
  .orgBox {
    display: none;
  }
}

.orgName,
.deptName {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  margin-right: auto;
  font-weight: normal;
  display: block;
}

.orgName {
  font-size: 1.2vw;
}

.deptName {
  font-size: 0.5vw;
}

.breadCrumbs {
  margin: 1% 0 2% 3%;
  font-size: 1.3em;
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.landingComponents {
  position: relative;
  color: black;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

.searchFields {
  color: black;
  margin: 3.5em 1em 1em 1em;
  width: 40%;
  display: inline-block;
  font-size: 1.3em;
}

.mapIcon {
  background: url('../../img/mapIcon.png');
  width: 10px;
}

.temporalBox {
  display: inline-block;
  margin-right: 2em;
  position: relative;
}

.mapContainer {
  position: relative;
  display: inline-block;
}

.mapContent {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-top: 2em;
  margin-left: -45em;
}

.dropDown {
  padding: 10px 0 0 0;
  display: inline-block;
}

.results {
  margin-bottom: 80px;
}

.details {
  position: fixed;
  top: 108px;
  left: 400px;
  bottom: 24px;
}

.searchFacet {
  float: right;
  margin-top: 20px
}

.leftNav {
  z-index: 2;
  float: left;
  display: inline-block;
  top: 24px;
  bottom: 24px;
}

.landingButton {
  color: white;
  text-shadow: 0 0 5px black;
  background-color: $color-primary;
  margin-right: 2em;
  font-size: 1em;
}

.searchFields, .temporalBox, .landingButton {
  height: 3em;
}