@import '../../style/style.css';

.rootContainer {
  position: relative;
  min-height: 100vh;
  margin-bottom: calc(-$footer-height + 2 * -$section-padding);
}

.footer {
  background: $color-primary-darkest;
  clear: both;
  padding: $section-padding;
}

.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.browserWarning {
  background: $color-secondary-dark;
  width: 96%;
  margin: 1em auto;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  a,
  a:visited {
    color: rgb(169, 226, 255);
  }
  p {
    text-align: center;
  }
}

.close {
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 1.2em;
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
