@import '../../style/style.css';

.messageContainer {
  background-color: $color-secondary;
  margin: 4em 2em;
  padding: 2em;
  box-shadow: 6px 8px 5px rgba(0,0,0,.7);
  border: 1px solid black;

  button {
    margin: 2em 0 0 2em;
    border: 1px solid black;
    float: right;
  }
}

.homeButton {
  background-color: $color-success;
}

.backButton {
  background-color: $color-secondary-light;
}
