@import '../../../style/style.css';

.mainWindow {
  letter-spacing: 0 !important;
  margin: 2em auto;
  max-width: 100em;
  height: calc(100vh - 5em - $header-height - $footer-height*2);
}

.mapContainer {
  height: 100%;
  width: 100%;
}

.granule,
.map {
  height: 100%;
}

.granuleInfo {
  padding: 0 1em;
  height: 100%;
  overflow-y: auto;
}

.table {
  width: 100%;
  tbody {
    tr:hover {
      background-color: #144cbd;
    }
  }
}

@define-mixin badge $size: 1em {
  border-radius: 50%;
  width: $size !important;
  height: $size !important;
  padding: calc($size / 4) !important;
  margin: calc($size / 4) !important;
  font: $size Arial, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}

.message {
  padding: 1em;
}

.legend {
  justify-content: flex-end;
}

.legend {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1em;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0.6em 0 !important;
  }
  .legendItem {
    display: inline-flex;
    margin-left: 1em;
    .badge {
      @mixin badge 1.2em;
    }
    .label {
      font: 1.2em Arial, sans-serif;
      margin: 0.6em 0 !important;
    }
  }
}

.badgeCell {
  width: 25%;
  min-width: 4em;
  .badgeLayout {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    .badge {
      @mixin badge;
    }
  }
}

tr.pageButton {
  text-align: center;
  border-top: 1px solid #cbcbcb;
  button {
    color: white;
    background-color: $color-primary;
    text-align: center;
    font-size: 1.25em;
  }
}

.links {
  display: inline-block;
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 0.1em 0.4em;
  color: white;
  background-color: $color-green;
  text-decoration: underline;
  cursor: pointer;
}
