@import '../style/style.css';

html {
  height: 100%;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  min-height: 100%;
  margin-bottom: calc(-$footer-height + 2 * -$section-padding);
}

img {
  max-width: 90%;
  line-height: 1.7em;
  color: #7f8c8d;
}
