html {
  height: 100%;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  min-height: 100%;
}

img {
  line-height: 1.7em;
  color: #7f8c8d;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

a:hover {
  cursor: pointer;
}
