html {
  height: 100%;
  font-size: 10px;
}

body {
  transition: all 0.2s ease-out;

  font-size: 10px;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
  color: white;
  min-height: 100%;
  margin: 0;
}

img {
  line-height: 1.7em;
  color: #7f8c8d;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

/* remove IE default input clear button since we handle this ourselves  */
input::-ms-clear {
  display: none;
}

/* try to remove firefox default dotted line on focus since we handle this ourselves */
::-moz-focus-inner {
  border: 0;
}
