@import '../style/style.css';

body {
  @mixin bgImage '../img/isabel1.jpg';
  font-size: 12px;
  font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
  color: white;
}

img {
  max-width: 90%;
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}
