@import '../../../style/style.css';

.temporalContainer {
  position: fixed;
  z-index: 2;
  margin-top: 1em;
  margin-left: 25%;
  box-shadow: 14px 14px 5px rgb(0, 0, 0, .7);
  border: 2px outset $ color-primary;
  height: 14em;
  width: 30%;
  min-width: 20em;
  max-width: 20em;
  color: white;
  background-color: black;
  text-align: left;
}

.temporalContent {
  padding: 1em;
  width: 100%;
  height: 100%;
  border: none !important;
  position: relative;
}

.pickerLabel {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.pickerInput {
  margin-bottom: 1em;
}

.timePicker {
  color: black;
}

.pickerRow {
  margin-bottom: 2em;
  display: inline;
}

.inputField {
  min-width: 13em;
  max-width: 14em;
}

.clearButton {
  color: white;
  max-height: 2.2em;
  position: relative;
  background-color: $color-primary;
  margin-left: 1em;
  text-align: center;
  line-height: 135% !important;
}

.bottomButtonPanel {
  margin-top: 1em;
}

.cancelButton {
  color: white;
  max-height: 2.2em;
  background-color: $color-primary;
  font-weight: bold;
  margin-right: 3em;
}

.submitButton {
  color: white;
  max-height: 2.2em;
  background-color: $color-primary;
  font-weight: bold;
}
