@import '../../../style/style.css';

.temporalContainer {
  z-index: 10;
  position: absolute;
  top: calc(100% + 0.309em);
  left: 0;
  box-shadow: 14px 14px 5px rgba(0, 0, 0, .7);
  border: 2px outset $ color-primary;
  width: 30%;
  min-width: 20em;
  max-width: 20em;
  color: white;
  background-color: black;
  text-align: left;
}

.temporalContent {
  padding: 1em;
  width: 100%;
  height: 100%;
  border: none !important;
  position: relative;
}

.pickerLabel {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.pickerInput {
  margin-bottom: 1em;
}

.timePicker {
  color: black;
}

.pickerRow {
  margin-bottom: 2em;
  display: inline;
  > button {
    > img {
      height: 2em;
      bottom: .5em;
      position: relative;
    }
  }
}

.inputField {
  min-width: 13em;
  max-width: 14em;
}

.clearButton {
  color: white !important;
  max-height: 2.2em;
  background-color: $color-primary !important;
  position: relative;
  margin-left: 1em;
  text-align: center;
  line-height: 135% !important;
  display: inline-block;
  width: 4em;
}

.bottomButtonPanel {
  margin-top: 1em;
}

.cancelButton {
  color: white !important;
  max-height: 2.2em;
  background-color: $color-primary !important;
  font-weight: bold;
  margin-right: 3em;
}

.submitButton {
  color: white !important;
  max-height: 2.2em;
  background-color: $color-primary !important;
  font-weight: bold;
}
