image: openjdk:11-jdk-slim

# Disable the Gradle daemon for Continuous Integration servers as correctness
# is usually a priority over speed in CI environments. Using a fresh
# runtime for each build is more reliable since the runtime is completely
# isolated from any previous builds.
variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  script: ./gradlew --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
      - buildSrc/build
      - buildSrc/.gradle
      - client/build
      - client/.gradle
      - client/node_modules
      - registry/build
      - search/build
      - parsalyzer/build
      - cli/vendor

test:
  stage: test
  script: ./gradlew check
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle
      - buildSrc/build
      - buildSrc/.gradle
      - client/build
      - client/.gradle
      - client/node_modules
      - registry/build
      - search/build
      - parsalyzer/build
      - cli/vendor
