@import '../../style/style.css';
$gridHeight: 160px; /* Workaround until div can autoadjust height */

.gridContainer {
    width: 90%;
    margin: 0 auto;
}
.spinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 24;
}

.list {
    width: 100%;
    height: 100%;
}

.grid {
    height: $gridHeight;
}
