@import '../../style/style.css';

.mainWindow {
  letter-spacing: 0em !important;
}

.facetSideBar {
  min-height: 100vh;
  display: none;
  /*width: 230px;*/
  /*border: 1px solid color($color-primary lightness(-10%));*/
  background-color: $color-primary;
  margin-bottom: calc($footer-height + 2 * $section-padding);
}

.facetButtonExpanded {
  font-size: 2.5em;
  margin: 3.5em 0em 0em -1em;
  color: #FFFFFF;
}

.facetButtonExpanded:hover,
.facetButtonExpanded:focus {
  color: $color-gray;
  cursor: pointer;
}

.facetButtonCollapsed {
  font-size: 2.5em;
  padding-top: 33%;
  padding-left: 33%;
  color: #FFFFFF;
}

.facetButtonCollapsed:hover,
.facetButtonCollapsed:focus {
  color: $color-gray;
  cursor: pointer;
}

.buttonColumn {
  min-height: 2.5em;
  max-height: 4em;
  margin-right: 2em;
  background-color: $color-primary;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.resultsContainer {
  /*width: 85%;*/
  /*margin-left: 30px;*/
  overflow-x: hidden;
  margin-top: 1em;
  margin-bottom: 8em;
}
