@import '../../style/style.css';
$gridHeight: 160px; /* Workaround until div can autoadjust height */
$cardHeight: 140px;
$cardWidth: 300px;

.mainWindow {
    display: flex;
}

.facetSideBar {
    min-height:
      calc(100vh - ($banner-height + $header-height +
        $footer-height + 3 * $section-padding));
    flex: 2;
    width: 230px;
    border: 1px solid color($color-primary lightness(-10%));
    background-color: $color-primary;
}

.gridContainer {
    flex: 7;
    width: 85%;
    margin-left: 30px;
    overflow-x: hidden;
    margin-bottom: 80px;
}

.breadCrumbs {
    margin: 1% 0 2% 0;
    font-size: 1.3em;
    a, a:visited, a:hover, a:active {
        color: inherit;
    }
}

.list {
    width: 100%;
    height: 100%;
}

.grid {
    height: $gridHeight;
    display: inline-block;
    margin: 0 $cardWidth 0 0;
    padding: 5px;
    position: relative;
}

.reactFlipCard {
    padding: 15px;
    text-align: center;
    width: $cardWidth;
    height: $cardHeight;
}

.reactFlipCardFront {
    box-sizing: border-box;
    width: $cardWidth;
    height: $cardHeight;
    border: 1px solid $color-gray;
    padding: 1em;
    background: linear-gradient(rgba(10,10,10,1), rgba(10,10,10,.5), rgba(10,10,10,.2), rgba(10,10,10,0));
    color: white;
    overflow: hidden;
    box-shadow: 6px 8px 5px rgb(0,0,0,.7);
}

.reactFlipCardBack {
    box-sizing: border-box;
    width: $cardWidth;
    height: $cardHeight;
    border: 2px solid $color-gray;
    background-color: rgba(30,30,30,.4);
    color: white;
    overflow: hidden;
}

.titleText {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
