@import '../../style/style.css';

.mainWindow {
  letter-spacing: 0em !important;
  font-family: inherit;
}

.facetSideBar {
  min-height: 100vh;
  display: none;
  /*width: 230px;*/
  /*border: 1px solid color($color-primary lightness(-10%));*/
  background-color: $color-primary;
  margin-bottom: calc($footer-height + 2 * $section-padding);
}

.facetButtonExpanded {
  font-size: 2.5em;
  margin: 3.5em 0em 0em -1em;
  color: #FFFFFF;
}

.facetButtonExpanded:hover,
.facetButtonExpanded:focus {
  color: $color-gray;
  cursor: pointer;
}

.facetButtonCollapsed {
  font-size: 2.5em;
  padding-top: 33%;
  padding-left: 33%;
  color: #FFFFFF;
}

.facetButtonCollapsed:hover,
.facetButtonCollapsed:focus {
  color: $color-gray;
  cursor: pointer;
}

.facetButtonImage {
  max-height: 1em;
  max-width: 1em;
  color: white;
}

.buttonColumn {
  min-height: 2.5em;
  max-height: 4em;
  margin-right: 2em;
  background-color: $color-primary;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.resultsContainer, .resultsContainer508 {
  font-size: 1.2em;
  font-family: inherit !important;
  margin: 1em auto 8em;
}

.resultsContainer508 {
  overflow-x: hidden;
  margin: 1em auto 8em;
  max-width: 40em;
}

.filters {
  display: flex;
  flex-flow: row wrap;
}

.filter {
  display: inline-flex;
  border-radius: 0.5em;
  padding-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

.keyword {
  background-color: teal;
}

.temporal {
  background-color: maroon;
}

.spatial {
  background-color: darkolivegreen;
}

.close {
  color: lightgray;
  padding: 0 0.5em;
  cursor: pointer;
}

