---
###############################################################################
# CONFLUENT
###############################################################################
cp-helm-charts:
  cp-control-center:
    enabled: true
    configurationOverrides:
      "replication.factor": "1"
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-kafka:
    enabled: true
    brokers: 1
    imageTag: 5.3.1
    configurationOverrides:
      offsets.topic.replication.factor: 1
      "message.max.bytes": "5242880"
      "replica.fetch.max.bytes": "5242880"
      "max.request.size": "5242880"
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-kafka-connect:
    enabled: false
    imageTag: 5.3.1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-kafka-rest:
    enabled: false
    imageTag: 5.3.1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
    external:
      enabled: true
      type: ClusterIP
  cp-ksql-server:
    enabled: false
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-schema-registry:
    enabled: true
    imageTag: 5.3.1
    configurationOverrides:
      kafkastore.topic.replication.factor: 1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-zookeeper:
    enabled: true
    servers: 1
    imageTag: 5.3.1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true

###############################################################################
# Nginx Ingress
###############################################################################
controller:
  admissionWebhooks:
    enabled: false

###############################################################################
# CAS
###############################################################################
cas:
  enabled: false

###############################################################################
# METRICS/MONITORING
###############################################################################
metricbeat:
  enabled: false
filebeat:
  enabled: false
kube-state-metrics:
  enabled: false
metrics-server:
  enabled: false # NOTE: metrics-server is required to support autoscaling; set to true to test HPAs
  args:
    - --v=2
    - --kubelet-preferred-address-types=InternalIP
    - --kubelet-insecure-tls
  hostNetwork:
    enabled: true

elasticsearch:
  snapshot:
    enabled: false