---
###############################################################################
# CONFLUENT
###############################################################################
cp-helm-charts:
  cp-kafka:
    enabled: true
    brokers: 1
    imageTag: 5.3.1
    configurationOverrides:
      offsets.topic.replication.factor: 1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-kafka-connect:
    enabled: false
    imageTag: 5.3.1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-kafka-rest:
    enabled: false
    imageTag: 5.3.1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
    external:
      enabled: true
      type: ClusterIP
  cp-ksql-server:
    enabled: false
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-schema-registry:
    enabled: true
    imageTag: 5.3.1
    configurationOverrides:
      kafkastore.topic.replication.factor: 1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true
  cp-zookeeper:
    enabled: true
    servers: 1
    imageTag: 5.3.1
    jmx:
      port: 5555
    prometheus:
      jmx:
        enabled: true

###############################################################################
# CAS
###############################################################################
cas:
  enabled: false

###############################################################################
# PROMETHEUS
###############################################################################
prometheus:
  alertmanager:
    enabled: false
  kubeStateMetrics:
    enabled: false
  nodeExporter:
    enabled: false
  pushgateway:
    enabled: false
  server:
    ingress:
      enabled: true
      hosts:
        - "localhost/prometheus"
    baseURL: "http://localhost/prometheus"
    prefixURL: "/prometheus"

###############################################################################
# GRAFANA
###############################################################################
grafana:
  ingress:
    enabled: true
    path: /grafana
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /
    hosts:
      - "localhost"
  "grafana.ini":
    server:
      domain: "localhost"
      root_url: "http://localhost/grafana"
  adminUser: admin
  adminPassword: admin
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: prometheus
          type: prometheus
          url: http://onestop-dev-prometheus-server/prometheus
          access: proxy
          isDefault: true
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'onestop'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/onestop
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
  dashboardsConfigMaps:
    default: "dashboards"
    onestop: "dashboards"

###############################################################################
# K8S METRICS SERVER
###############################################################################
metrics-server:
  args:
    - --kubelet-insecure-tls
