@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loadingContainer {
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, #000, #fff, #000);
  background-size: 600% 600%;
  animation: loadingAnimation 4s ease infinite;
}
