@import '../../style/style.css';

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
  background-color: #000;
  margin: 10% auto;
  padding: 1.5em;
  border: 1px solid $color-gray;
  width: 90%;
  max-width: 80em;
  overflow: auto;

  & p {
    margin-top: 0;
  }
}

.underscored {
  border-bottom: 1px solid $color-gray;
  margin-bottom: 1em;
  text-align: justify;
}

.header {
  font-size: 2em;
  font-weight: bold;
}

.close {
  color: $color-gray;
  display: inline-block;
  float: right;
}
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.previewImg {
  width: 100%;
  min-height: 12em;
  margin-bottom: 1em;
  h3 {
    text-align: center;
  }
}

.previewMap {
  z-index: 4;
  width: 97%;
  height: 16em;
  padding: .2em 0 2em;
}

.linkRow {
  font-size: 1em;
  font-weight: bold;

  & span {
    float: right;
    margin-bottom: 1em;
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    & li {
      margin-left: 1em;
      margin-bottom: 1em;
    }
  }
}

.button-secondary {
  color: white;
  background: #00a6d2;
}

.granulesButton {
  margin-bottom: 1em;
}

.star {
  color: yellow;
}

.dsmmInfo {
  position: relative;
  display: inline-block;
  i {
    color: white;
    margin: 0.5em;
  }
  a {
    color: $color-visited-light;
  }
  .text {
    visibility: hidden;
    opacity: 0;
    bottom: -0.5em;
    left: 105%;
    width: 30em;
    position: absolute;
    z-index: 1001;
    background-color: black;
    border: solid thin white;
    border-radius: 6px;
    padding: 2em;
    text-align: left;
  }
  &:hover .text {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms;
  }
}

.dsmmMissing {
  color: grey;
}
