$cardHeight: 140px;
$cardWidth: 140px;

.base {
    display: block;
    margin: 20px;
}

.reactFlipCard {
    margin: 5px;
    text-align: center;
    width: $cardWidth;
    height: $cardHeight;
}

.reactFlipCard__Front {
    box-sizing: border-box;
    width: $cardWidth;
    height: $cardHeight;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #eee;
    color: black;
}

.reactFlipCard__Back {
    box-sizing: border-box;
    width: $cardWidth;
    height: $cardHeight;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #cef;
    color: black;
}
