@import '../../style/style.css';
$cardHeight: 140px;
$cardWidth: 310px;

.base {
    display: block;
    margin: 20px;
}

.reactFlipCard {
    padding: 15px;
    text-align: center;
    width: $cardWidth;
    height: $cardHeight;
}

.reactFlipCard__Front {
    box-sizing: border-box;
    width: $cardWidth;
    height: $cardHeight;
    border: 2px solid $color-gray;
    padding: 5px;
    background-color: rgba(10,10,10,.4);
    color: white;
    overflow: hidden;
}

.reactFlipCard__Back {
    box-sizing: border-box;
    width: $cardWidth;
    height: $cardHeight;
    border: 2px solid $color-gray;
    padding: 5px;
    background-color: rgba(30,30,30,.4);
    color: white;
    overflow: hidden;
}
