@import '../../../style/style.css';

.gridWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  justify-content: center;
}

.collectionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.collectionAttrs {
  display: inline-block;
}

.linkRow {
  display: inline-block;
  margin: .5em .5em .5em 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  color: white;
  background-color: $color-primary;
  text-align: center;
  font-size: 1.25em;
  margin: 1em 0em 2em;
}
