@import '../../../style/style.css';

.gridWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  justify-content: center;
}

.collectionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.collectionAttrs {
  display: inline-block;
}

.linkRow {
  display: inline-block;
  margin: .5em .5em .5em 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  color: white;
  background-color: $color-primary;
  text-align: center;
  font-size: 1.25em;
  margin: 1em 0em 2em;
}

.resultCount {
  margin: .5em 0 1em;
}

.listContainer {
  box-shadow: 1.3em 0.7em 0.5em 0.2em rgb(0,0,0,.7);
  overflow-x: none;
}

.collectionList508 {
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    color: white;
  }
}

.listItem {
  color: white;
  padding: .5em 1em 1em;
  > div {
    margin: .5em 0;
  }
  &:nth-child(odd)	{
    background-color: $color-primary-darkest;
  }
  &:nth-child(even) {
    background-color: $color-primary-darker;
  }
  li {
    display: inline-block;
    margin: .2em;
  }
  button, a {
    color: white;
    padding: .3em;
    border-radius: .1em .4em;
    display: inline-block;
    border: none;
  }
  button {
    background-color: $color-primary-alt;
  }
  a {
    background-color: $color-green;
  }
  div.showMore {
    width: 100%;
    text-align: center;
  }
}
