# Default values for onestop-admin.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: cedardevs/onestop-indexer
  tag: "3.0.0-alpha3"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

elasticsearch:
  host: onestop-es-http
  port: "9200"
  ssl:
    enabled: true
    cert:
      path: "/etc/onestop-indexer/elastic"
      tls: "tls.crt"
  rw:
    user: elastic

###############################################################################
# APPLICATION.YML ADDITIONAL SPRING CONFIG
###############################################################################
config:

###############################################################################
# ENV OVERRIDES
###############################################################################
env:
  ETL_SITEMAP_DELAY_INITIAL: 60000 # milliseconds -> 1 minute

###############################################################################
# OTHER CONFIGS
###############################################################################

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaler:
  enabled: false
#  minReplicas: 1
#  maxReplicas: 2
#  annotations: {}
#  metrics:
#  - type: Resource
#    resource:
#      name: cpu
#      target:
#        type: Utilization
#        averageUtilization: 75

nodeSelector: {}

tolerations: []

affinity: {}
