html {
  height: 100%;
  font-size: 10px;
}

body {
  transition: all 0.2s ease-out;

  font-size: 10px;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
  color: white;
  min-height: 100%;
  margin: 0;
}

img {
  line-height: 1.7em;
  color: #7f8c8d;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* remove IE default input clear button since we handle this ourselves  */
input::-ms-clear {
  display: none;
}

/* try to remove firefox default dotted line on focus since we handle this ourselves */
::-moz-focus-inner {
  border: 0;
}

.leaflet-bar > a:focus {
  outline: 2px dashed goldenrod !important;
  outline-offset: 2px;
}

.leaflet-container:focus {
  outline: 2px dashed goldenrod !important;
  outline-offset: 2px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  min-width: 1em;
  cursor: pointer;
  background: #eee;
  border: 1px solid #333;
  border-radius: 1em;
  margin-left: 0.309em;
}
input[type="radio"]:hover {
  opacity: 0.8;
  box-shadow: 0 0 1pt 1pt rgb(24, 71, 143);
}
input[type="radio"]:checked {
  opacity: 1;
  border: 5px solid rgb(24, 71, 143);
}
input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #277cb2;
}

abbr {
  text-decoration: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
