@import '../../style/style.css';

.featured {
  ul.titles {
    list-style-type: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    li {
      background: #007ec6;
      text-align: right;
      font-weight: bold;
      font-size: 1.25em;
      padding: 1em;
      @media screen and (max-width: 48em) {
        text-align: center;
      }

      a {
        cursor: default;
        pointer-events: none;
        @media screen and (max-width: 48em) {
          cursor: pointer;
          pointer-events: auto;
          text-align: center;
        }
      }
      &:first-child {
        border-radius: 1em 0 0 0;
        @media screen and (max-width: 48em) {
          border-radius: 1em 1em 0 0;
        }
      }
      &:last-child {
        border-radius: 0 0 0 1em;
        @media screen and (max-width: 48em) {
          border-radius: 0 0 1em 1em;
        }
      }
    }
  }
  .selectedText {
  background: #263f78 !important;
  @media screen and (max-width: 48em) {
    background: #007ec6 !important;
    }
  }
  .imagesContainer {
    max-width: 55em;
    height: 35em;
    border-radius: 0 1em 1em 1em;
    background: #263f78;
    cursor: pointer;
    @media screen and (max-width: 48em) {
      display: none;
    }

    .imageContent {
      box-sizing: border-box;
      position: relative;
      left: 3em;
      top: 2em;
      opacity: 0;
      z-index: 0;
      display: none;
      background: #007ec6;
      width: 90%;
      height: 90%;
      &.selectedImage {
         opacity: 1;
        z-index: 10;
        display: block;
        transition: opacity 500ms;
      }
      .overlay {
        width: 100%;
        height: 100%;
       }
    }
  }
}
