@import '../../style/style.css';

.topicContainer {
  padding: 2em;
  text-align: center;

  h1, h2, h3, h4, h5 {
    text-align: left;
  }
}

.topicItem {
  display: inline-block;
  margin-right: 3em;

h1, h2, h3, h4, h5 {
  text-align: center;
  margin-bottom: 0;
}

&:hover {
   background-color: #0a4595;
   border-radius: 5em;
 }
}

.carouselContainer {
  padding: 2em;
}

.carouselImg {
  max-width: 100%;
}