@import '../../style/style.css';

.topicContainer {
  padding: 2em;
  text-align: center;

  h1, h2, h3, h4, h5 {
    text-align: left;
  }
}

.topicItem {
  display: inline-block;
  margin-right: 3em;

h1, h2, h3, h4, h5 {
  text-align: center;
  margin-bottom: 0;
}

&:hover {
   background-color: #0a4595;
   border-radius: 5em;
 }
}

.carouselImg {
  max-width: 100%;
}

.carouselContainer {
  padding: 10px 16px 30px;
  margin: 0 2em;
  color: #fff;
  background: rgb(0,0,0,.7);
}

.showcase {
  margin: 0 auto;
  width: 90%;
}
