@import '../../style/style.css';

.topicContainer {
  padding: 2em;
  text-align: center;
  min-height: 15em;

  h1, h2, h3, h4, h5 {
    text-align: left;
    margin-bottom: 0;
  }

  .topicItem {
    display: inline-block;
    padding: 2em 3em 0 0;
    vertical-align: middle;

button {
  background: none;
  display: block;
  font-weight: bold;
  font-size: 1.17em;
  border: none;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1.1em;
  text-decoration: none;
  padding: 0.3em 0em 0em 0.65em;;
}

    h1, h2, h3, h4, h5 {
      text-align: center;
      margin-bottom: 1.1em;
    }
    img {
      width: 6em;
      height: 6em;
      max-width: 100%;
      transition: transform 200ms;
    }
    &:hover img {
      transform: scale(1.25);
      transform-origin: center bottom;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.featuredContainer {
  max-width: 80em;
  min-height: 35em;
  margin: 0 auto;

  h1, h2, h3, h4, h5 {
    text-align: left;
    margin-bottom: 1.1em;
  }
}

.showcase {
  margin: 0 auto;
  width: 90%;
  max-width: 80em;
  padding-bottom: 10em;
}

.searchComponent {
  text-align: center;
}

.heroHeader {
  text-align: center;
  font-size: 3.5em;
  margin-top: 0.5em;
}

.hiddenPageTitle {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.heroText {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5;
  padding-bottom: 0.25em;
}

.infoPanel-enter {
  opacity: 0.01;
  margin-top: -100%;
}

.infoPanel-enter.infoPanel-enter-active {
  opacity: 1;
  margin-top: 0;
  transition: margin-top 300ms 0ms ease-out,
              opacity 200ms 300ms ease-out;
}

.infoPanel-leave {
  opacity: 1;
  margin-top: 0;
}

.infoPanel-leave.infoPanel-leave-active {
  opacity: 0.01;
  margin-top: -100%;
  transition: opacity 200ms 0ms ease-out,
              margin-top 300ms 200ms ease-out;
}

.infoText {
  background-color: black;
  border: solid thin white;
  border-radius: 6px;
  padding: 0.5em 1em;
  text-align: justify;
  font-size: 1.2em;
  margin: 1.5em 0 1em;

  & > h1 {
    text-align: center;
    font-style: italic;
    margin: 0 0 0.5em 0;
  }
  li {
    margin-bottom: 1em;
  }
  .iconButton {
    background-color: $color-primary;
    padding: 0.2em 0.5em;
    margin-left: 0.3em;
    border-radius: 2px;
    text-shadow: 0 0 5px black;;
  }
  .highlightB {
    color: $color-primary;
    font-weight: bold;
  }
  .highlightP {
    color: $color-visited-light;
    font-weight: bold;
  }
  ul.examples {
    margin: 0.5em 0;
    list-style-type: disc;
    font-style: italic;
    color: #d7d7d7;
    li {
      margin-bottom: 0;
    }
  }
}
