@import '../../style/style.css';

.showcase {
  min-height: 100vh;
  color: #222;
}

.formDiv {
  margin: 2em auto;
  width: 80%;
  font-size: 1.4em;
}

.formRow {
  margin-bottom: 1em;
  border: none !important;
}

.formLabel {
  margin: 0.618em !important;
  width: 8em;
  display: inline-block;
}

.formInput {
  width: 60%;
  color: black;
  display: inline-block;
}

.errors {
  background-color: red;
  padding: 0 3em;
  border: solid thin white;
  border-radius: 6px;
}

.accessibilityStatement {
  margin: 2em auto;
  width: 80%;
  border: gray solid;
  padding: 1em;
  background: #f9f9f9;
}
