@import '../../../style/style.css';

.facetContainer {
    font-family: Arial,sans-serif;
    letter-spacing: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 1em;
}

.formStyle {
    display: table;
    min-width: 100%;
    > div {
        display: table-row;
    }
}

/* Override collapsible menu defaults */
form > span {
    color: white !important;
    font-size: 1.2em;
}

form > div {
    border: 1px solid color($color-primary lightness(-10%)) !important;
    > div {
        border-top: 1px solid color($color-primary lightness(-10%)) !important;
        color: white !important;
        > div:nth-child(1) {
            font-size: 1.2em;
            background-color: $color-primary !important;
            color: white !important;
            i {
                border: none !important;
            }
        }
        > div:nth-child(2) {
            font-size: 1.1em;
            background-color: color($color-primary lightness(-10%)) !important;
            color: white !important;
        }
    }
}

.facetItem {
    display: inline-block;
    width: 15%;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.count {
    display: inline-block;
    margin: -.7em .2em .3em;
}

.facetLabel {
    margin: 0 .2em .3em;
}

.checkFacet {
    display: inline-block;
    margin-top: .9em;
}
