@import '../../../style/style.css';

.backgroundOverlay,
.backgroundImage,
.backgroundSolid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -5000;
  min-height: 100vh;
  min-width: 100vw;
}
.backgroundOverlay {
  background-color: rgba(60, 90, 139, .3);
}

:global {
  .cssgradients {
    :local {
      .backgroundImage {
        @mixin bgImage '../../../img/Earth.jpg';
      }
    }
  }
  .no-cssgradients {
    :local {
      .backgroundImage {
        @mixin bgImageNoGradient '../../../img/Earth.jpg';
      }
    }
  }
}

.backgroundSolid {
  background-color: #263567; /* This is color matched to the dark blue in the NOAA logo */
}
