@import '../../../style/style.css';

.backgroundColor ,
.background {
  position: fixed;
  z-index: -5000;
  min-height: 100vh;
  min-width: 100vw;
}

:global{
  .cssgradients {
    :local {
      .background {
        @mixin bgImage '../../../img/Earth.jpg';
      }
    }
  }
  .no-cssgradients {
    :local {
      .background {
        @mixin bgImageNoGradient '../../../img/Earth.jpg';
      }
    }
  }
}

.backgroundColor {
  background: $color-gray;
}
