###############################################################################
# Nginx Ingress
###############################################################################
controller.admissionWebhooks.enabled: false