<!doctype html>
<html lang="en">
  <head>
    <title>Upload ISO to OneStop</title>
  </head>
  <body>
    <h1>Upload ISO to OneStop</h1>
    <form action="/onestop/api/metadata" method="post" enctype="multipart/form-data">
      <input type="file" name="files" id="file_input"  webkitdirectory="" mozdirectory="true" multiple>
      <input type="submit">
    </form>
    <!--
     <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript">
            var printFiles = function (event) {
                var files = event.currentTarget.files;
                for (var indx in files) {
                    var curFile = files[indx];
                    console.log(curFile.webkitRelativePath);
                    console.log(curFile.slice(0,curFile.size));
                }
                console.log(files);
            };
            $('#file_input').change(printFiles);
        </script>
      -->
  </body>
</html>
