openapi: 3.0.0
servers:
  - url: 'https://sciapps.colorado.edu/onestop/api'
    description: Development test server (uses test data)
  - url: 'https://data.noaa.gov/onestop/api/search'
    description: NOAA OneStop
info:
  title: OneStop Search API
  description: Search Collections and Granules! More information on search request and responses available at [Search API Requests](https://github.com/cedardevs/onestop/wiki/OneStop-Search-API-Requests) and [Search API Responses](https://github.com/cedardevs/onestop/wiki/OneStop-Search-API-Responses).
  version: 2.0.0
tags:
  - name: collection
    description: Discover available collections of data.
  - name: granule
    description: Discover available files of data.
  - name: flattened-granule
    description: 'Discover available files of data, flattened with collection data.'
paths:
  /collection:
    head:
      tags:
        - collection
      summary: Get Collection Info
      responses:
        '200':
          description: Successful operation
    get:
      tags:
        - collection
      summary: Get Collection Info
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infoResponse'
  '/collection/{id}':
    head:
      tags:
        - collection
      summary: Collection by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the collection
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      tags:
        - collection
      summary: Collection by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the collection
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fullCollectionResponse'
        '404':
          description: Request Parsing Error
  /search/collection:
    post:
      tags:
        - collection
      summary: Retrieve collection metadata
      description: 'Retrietve collection metadata records matching the text query string, spatial, and/or temporal filter.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'file:src/main/resources/onestop-request-schema.json'
            examples:
              payload0:
                $ref: '#/components/examples/payload0'
              payload1:
                $ref: '#/components/examples/payload1'
              payload2:
                $ref: '#/components/examples/payload2'
              payload3:
                $ref: '#/components/examples/payload3'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
        '400':
          description: Bad Request
  /granule:
    head:
      tags:
        - granule
      summary: Get Granule Info
      responses:
        '200':
          description: Successful operation
    get:
      tags:
        - granule
      summary: Get Granule Info
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infoResponse'
  '/granule/{id}':
    head:
      tags:
        - granule
      summary: Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the granule
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      tags:
        - granule
      summary: Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the granule
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
  /search/granule:
    post:
      tags:
        - granule
      summary: Retrieve granule metadata
      description: 'Retrietve granule metadata records matching the text query string, spatial, and/or temporal filter.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'file:src/main/resources/onestop-request-schema.json'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
        '400':
          description: Bad Request
  /flattened-granule:
    head:
      tags:
        - flattened-granule
      summary: Get Flattened Granule Info
      responses:
        '200':
          description: Successful operation
    get:
      tags:
        - flattened-granule
      summary: Get Flattened Granule Info
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infoResponse'
  '/flattened-granule/{id}':
    head:
      tags:
        - flattened-granule
      summary: Flattened Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the flattened granule
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      tags:
        - flattened-granule
      summary: Flattened Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the flattened granule
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
  /search/flattened-granule:
    post:
      tags:
        - flattened-granule
      summary: Retrieve flattened granule metadata
      description: 'Retrietve flattened granule metadata records matching the text query string, spatial, and/or temporal filter.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'file:src/main/resources/onestop-request-schema.json'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/searchResponse'
        '400':
          description: Bad Request
components:
  schemas:
    infoResponse:
      description: High-level information on a resource.
      type: object
      additionalProperties: false
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              type:
                type: string
                enum:
                  - count
              id:
                type: string
                enum:
                  - collection
                  - granule
              count:
                type: integer
    fullCollectionResponse:
      description: Collection
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/collectionMetadataObject'
        data:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/collectionDataObject'
    collectionMetadataObject:
      type: object
      properties:
        totalGranules:
          type: integer
    collectionDataObject:
      type: object
      properties:
        type:
          type: string
          enum:
            - collection
        id:
          type: string
    searchResponse:
      description: Search Results
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/searchMetadataObject'
        data:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/searchDataObject'
    searchMetadataObject:
      type: object
      properties:
        took:
          type: integer
        total:
          description: total number of results matching the search
          type: integer
        facets:
          description: 'included if search request specified facets:true'
          type: object
    searchDataObject:
      type: object
      properties:
        type:
          type: string
          enum:
            - collection
            - granule
            - flattened-granule
        id:
          description: internal uuid
          type: string
        attributes:
          description: 'Summary of the result. If search specified summary:false, this could be the entire result instead.'
          type: object
          properties:
            title:
              type: string
            thumbnail:
              type: string
              format: uri
            beginYear:
              type: string
              format: date
            endYear:
              type: string
              format: date
            # spatialBounding:
            #   $ref: '#/components/schemas/Geometry'
            links:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/link'
    link:
      type: object
      properties:
        linkProtocol:
          type: string
        linkFunction:
          type: string
        linkDescription:
          type: string
        linkUrl:
          type: string
          format: uri
        linkName:
          type: string

  examples:
    scienceFacet:
      value: {"type":"facet","name":"science","values":["Agriculture","Atmosphere > Atmospheric Radiation > Incoming Solar Radiation"]}
      summary: '''Incoming Solar Radiation'' science theme'
    instrumentFacet:
      value: {"type":"facet","name":"instruments","values":["ADCP > Acoustic Doppler Current Profiler"]}
      summary: '''Acoustic Doppler Current Profiler'' instrument'
    platformFacet:
      value: {"type":"facet","name":"platforms","values":["Ships"]}
      summary: '''Ships'' platform'
    projectFacet:
      value: {"type":"facet","name":"projects","values":["U.S.GLOBEC-SO > U.S. Global Ocean Ecosystem Dynamics, Southern Ocean"]}
      summary: '''U.S. Global Ocean Ecosystem Dynamics, Southern Ocean'' project'
    dataCenterFacet:
      value: {"type":"facet","name":"dataCenters","values":["DOC/NOAA/NMFS/AFSC > Alaska Fisheries Science Center, National Marine Fisheries Service, NOAA, U.S. Department of Commerce"]}
      summary: Alaska Fisheries Science Center
    scienceOrFacet:
      value: {"type":"facet","name":"science","values":["Agriculture","Atmosphere > Atmospheric Radiation > Incoming Solar Radiation"]}
      summary: '''Agriculture'' OR ''Incoming Solar Radiation'''
    categoriesAndFacet:
      value: [{"type":"facet","name":"science","values":["Agriculture"]},{"type":"facet","name":"instruments","values":["ADCP > Acoustic Doppler Current Profiler"]}]
      summary: 'array of multiple facets: ''Agriculture'' AND ''Acoustic Doppler Current Profiler'''
    payload0:
      value: {"queries":[{"type":"queryText","value":"climate"}],"filters":[],"facets":true,"page":{"max":20,"offset":0}}
      summary: basic text query
    payload1:
      value: {"queries":[{"type":"queryText","value":"weather"}],"filters":[{"type":"facet","name":"science","values":["Agriculture","Atmosphere > Atmospheric Radiation > Incoming Solar Radiation"]}],"facets":true,"page":{"max":20,"offset":0}}
      summary: multiple science theme filters selected
    payload2:
      value: {"queries":[{"type":"queryText","value":"weather"}],"filters":[{"type":"facet","name":"science","values":["Agriculture"]},{"type":"facet","name":"instruments","values":["ADCP > Acoustic Doppler Current Profiler"]}],"facets":true,"page":{"max":20,"offset":0}}
      summary: multiple facets selected
    payload3:
      value: {"queries":[{"type":"queryText","value":"weather"}],"filters":[],"facets":false,"page":{"max":20,"offset":20}}
      summary: Next Page request
