@import '../../style/style.css';

/*$ICON_SIZE: 25px;*/

.container {
  background: #0a4595;
  display: inline-block;
  justify-content: space-around;
  width: 100vw;
  font-size: 20px;
  color: white;
  font-family: proxima_nova,"Helvetica Neue";
}

.about {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 20px;
  vertical-align: baseline;
  margin-left: 1em ;
  margin-top: 1.0em;
  font-weight: 100;
}

.feedbackButton {
  line-height: 1.5;
  font-size: 16px;
  vertical-align: baseline;
  font-weight: 100;
  margin-top: 2.5em;
  margin-left: 25em;
}

.feedback{
  margin-top: 0.5em;
  line-height: 2.0em;
  text-align: justify;
  font-weight: 100;
}

.item2 {
  margin-top: 1.5em;
  margin-left: 3em;
  font-weight: 100;
}

.noaaLogo {
  background-image: url('../../img/NOAA_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}


.twitterLogo {
  background-image: url('../../img/twitter_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.facebookLogo {
  background-image: url('../../img/faceBook_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.instagrammLogo {
  background-image: url('../../img/instagram_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width:25px ;
  height: 25px;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.youtubeLogo {
  background-image: url('../../img/youTube_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.icons {
  display: inline-block;
  color: white;
  margin-left: 10em;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  visibility: hidden;
}

.menu {
  list-style-type: none;
  margin-left: 35px;
  line-height: 15px;
  font-weight: 100;
  font-size: 14px;
  display: inline-block;
}

.menuLi {
  border-left: 2px solid white;
  display: inline-block;
  margin: 3px;
  padding: 0px 0px 0px 5px;
  font-weight: 100;
}

.menuLiA {
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.button {
  background-color: #2f6fad;
  margin: 5px;
  font-size: 16px;
  line-height: 1.5;
}