@import '../../style/style.css';

.header {
  top: 0;
  left: 0;
  height: 24px;
  width: 100%;
  margin: 0 auto;
}

.panel {
  max-width: 90%;
  margin: 5px auto;
}

.bottomBorder {
  border-bottom: solid $color-gray 2px;
}
.appbar {
  clear: both;
  display: flex;
  justify-content: space-between;
  top: 24px;
  height: 140px;
  width: 100%;
}

.logoBox {
  margin: 0px 10px;
}

.logo {
  height: 90px;
  float: left;
}

.logSty img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.logSty a {
  position: relative;
}

.logSty a {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.logSty:hover img {
  -webkit-transform: translateX(-70px);
  transform: translateX(-70px);
}

.logSty:hover a {
  opacity: 1;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.orgBox {
  margin: 10px 0 0;
  display: block;
}

.orgbox:hover {
  background-position: 0 0;
}

@media screen and (max-width:938px) {
  .orgBox {
    display: none;
  }
}

.orgName,
.deptName {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  margin-right: auto;
  font-weight: normal;
  display: block;
}

.orgName {
  font-size: 2em;
}

.deptName {
  font-size: 1em;
}

.breadCrumbs {
  margin: 1% 0 2% 3%;
  font-size: 1.3em;
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.results {
  margin-bottom: 80px;
}

.details {
  position: fixed;
  top: 108px;
  left: 400px;
  bottom: 24px;
}

.searchFacet {
  float: right;
  margin-top: 20px
}
.leftNav {
  z-index: 2;
  float: left;
  display: inline-block;
  top: 24px;
  bottom: 24px;
}
