@import '../../style/style.css';

.header {
  top: 0;
  left: 0;
  height: 24px;
  width: 100%;
}
.appbar {
  clear: both;
  display: flex;
  justify-content: space-between;
  border-bottom: solid $color-gray 2px;
  top: 24px;
  height: 140px;
  width: 100%;
}

.logoBox {
  margin: 0px 10px;
}

.logo {
  height: 84px;
  float: left;
  margin: 10px;
}

.orgBox {
  display: block;
}

@media screen and (max-width:930px) {
  .orgBox {
    display: none;
  }
}

.orgName,
.deptName {
  text-decoration: none;
  font-family: "Helvetica Neue",helvetica,Arial,sans-serif;
  color: white;
  margin-right: auto;
  font-weight: normal;
  display: block;
}

.orgName {
  font-size: 2em;
}

.deptName {
  font-size: 1em;
}

.results,
.leftNav {
  position: relative;
  width: 200px;
  display: inline-block;
  width: 100%;
}
.results {
  float: right;
  width: 400px;
}
.details {
  position: fixed;
  top: 108px;
  left: 400px;
  bottom: 24px;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.searchFacet {
  float: left;
}
.leftNav {
  z-index: 2;
  float: left;
  display: inline-block;
  top: 24px;
  bottom: 24px;
}
