openapi: 3.0.0
servers:
  - url: 'https://data.noaa.gov/onestop/api/search'
    description: NOAA OneStop, locked down.
  - url: 'https://cedardevs.org/onestop/api/search'
    description: Development test server (uses test data)
info:
  title: OneStop Search API
  description: 'Search Collections and Granules! More information on search request and responses available at [Search API Requests](https://github.com/cedardevs/onestop/blob/master/docs/public-user/api/requests.md) and [Search API Responses](https://github.com/cedardevs/onestop/blob/master/docs/public-user/api/responses.md).'
  version: 3.0.0-RC1
tags:
  - name: collection
    description: Discover available collections of data.
  - name: granule
    description: Discover available files of data.
  - name: flattened-granule
    description: Flattened granules are a representation of the granules which inherit all the metadata from the parent collection.
paths:
  /docs/attributes/{resourceType}:
    head:
      operationId: headDocumentation
      tags:
        - collection
        - granule
        - flattened-granule
      summary: Get documentation about attributes
      parameters:
        - in: path
          name: resourceType
          schema:
            type: string
            enum:
              - collection
              - granule
              - flattened-granule
          required: true
          description: resource type
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      operationId: getDocumentation
      tags:
        - collection
        - granule
        - flattened-granule
      summary: Get documentation about attributes
      parameters:
        - in: path
          name: resourceType
          schema:
            type: string
            enum:
              - collection
              - granule
              - flattened-granule
          required: true
          description: resource type
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - meta
                  - data
                properties:
                  data:
                    type: array
                    maxItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: "identifier for the mapping"
                        type:
                          type: string
                          enum:
                            - docs-attributes
                        attributes:
                          type: object
                          additionalProperties:
                            description: The key / property name is a field in the mapping.
                            type: object
                            required:
                              - queryable
                              - exactMatchRequired
                              - applicableFilter
                            properties:
                              queryable:
                                type: boolean
                                description: Whether an attribute can be searched against. Non-queryable fields provide supplemental information about a record only, such as link URLs.
                              exactMatchRequired:
                                type: boolean
                                description: Only applicable to queryable fields. If true, text must match exactly or a regular expression pattern must exactly match the full text. If false, partial matches will return results.
                              applicableFilter:
                                type: string
                                description: Filter correlating to this attribute. Filters are faster and more precise in narrowing results but do not affect search rankings.
                  meta:
                    properties:
                      info:
                        description: Information about the field attributes
                        type: object
                        properties:
                          queryable:
                            type: string
                            description: Explanation of the 'queryable' property on fields.
                          exactMatchRequired:
                            type: string
                            description: Explanation of the 'exactMatchRequired' property on fields.
                          applicableFilter:
                            type: string
                            description: Explanation of the 'applicableFilter' property on fields.
                    type: object
                    required:
                      - totalGranules

        '404':
          description: Request Parsing Error


  /collection:
    head:
      operationId: headCollection
      tags:
        - collection
      summary: Get Collection Info
      responses:
        '200':
          description: Successful operation
    get:
      operationId: getCollection
      tags:
        - collection
      summary: Get Collection Info
      description: Get the total number of collections available.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    minItems: 1
                    maxItems: 1
                    items:
                      required:
                        - count
                        - id
                        - type
                      additionalProperties: false
                      properties:
                        count:
                          description: Number of records indexed
                          type: integer
                          default: 0
                        id:
                          $ref: '#/components/schemas/collectionEnum'
                        type:
                          enum:
                            - count
                          type: string
                      type: object
                    type: array
                type: object
  /collection/{id}:
    head:
      operationId: headCollectionById
      tags:
        - collection
      summary: Collection by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the collection
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      operationId: getCollectionById
      tags:
        - collection
      summary: Collection by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the collection
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    maxItems: 1
                    items:
                      $ref: "#/components/schemas/collectionRecord"
                  meta:
                    properties:
                      totalGranules:
                        description: Count of the granules belonging to this collection record.
                        type: integer
                        minimum: 0
                        default: 0
                    type: object
                    required:
                      - totalGranules
        '404':
          description: Request Parsing Error
  /search/collection:
    post:
      operationId: searchCollection
      tags:
        - collection
      summary: Retrieve collection metadata
      description: 'Retrieve collection metadata records matching the text query string, spatial, and/or temporal filter.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestBody'
            examples:
              payload0:
                $ref: '#/components/examples/payload0'
              payload1:
                $ref: '#/components/examples/payload1'
              payload2:
                $ref: '#/components/examples/payload2'
              payload3:
                $ref: '#/components/examples/payload3'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      description: All matching search results are either a summary (default) or a full record, depending on the 'summary' flag in the request.
                      oneOf:
                        - $ref: "#/components/schemas/collectionRecord"
                        - $ref: "#/components/schemas/collectionRecordSummary"
                    type: array
                  meta:
                    $ref: "#/components/schemas/searchMetadataObject"
                type: object
        '400':
          description: Bad Request
  /granule:
    head:
      operationId: headGranule
      tags:
        - granule
      summary: Get Granule Info
      responses:
        '200':
          description: Successful operation
    get:
      operationId: getGranule
      tags:
        - granule
      summary: Get Granule Info
      description: Get the total number of granules available.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    minItems: 1
                    maxItems: 1
                    items:
                      required:
                        - count
                        - id
                        - type
                      additionalProperties: false
                      properties:
                        count:
                          description: Number of records indexed
                          type: integer
                          default: 0
                        id:
                          $ref: '#/components/schemas/granuleEnum'
                        type:
                          enum:
                            - count
                          type: string
                      type: object
                    type: array
                type: object
  /granule/{id}:
    head:
      operationId: headGranuleById
      tags:
        - granule
      summary: Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the granule
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      operationId: getGranuleById
      tags:
        - granule
      summary: Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the granule
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    maxItems: 1
                    items:
                      $ref: "#/components/schemas/granuleRecord"
        '404':
          description: Request Parsing Error
  /search/granule:
    post:
      operationId: searchGranule
      tags:
        - granule
      summary: Retrieve granule metadata
      description: 'Retrieve granule metadata records matching the text query string, spatial, and/or temporal filter.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      description: All matching search results are either a summary (default) or a full record, depending on the 'summary' flag in the request.
                      oneOf:
                        - $ref: "#/components/schemas/granuleRecord"
                        - $ref: "#/components/schemas/granuleRecordSummary"
                    type: array
                  meta:
                    $ref: "#/components/schemas/searchMetadataObject"
                type: object
        '400':
          description: Bad Request
  /flattened-granule:
    head:
      operationId: headFlattenedGranule
      tags:
        - flattened-granule
      summary: Get Flattened Granule Info
      responses:
        '200':
          description: Successful operation
    get:
      operationId: getFlattenedGranule
      tags:
        - flattened-granule
      summary: Get Flattened Granule Info
      description: Get the total number of flattened granules available.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    minItems: 1
                    maxItems: 1
                    items:
                      required:
                        - count
                        - id
                        - type
                      additionalProperties: false
                      properties:
                        count:
                          description: Number of records indexed
                          type: integer
                          default: 0
                        id:
                          $ref: '#/components/schemas/flattenedGranuleEnum'
                        type:
                          enum:
                            - count
                          type: string
                      type: object
                    type: array
                type: object
  /flattened-granule/{id}:
    head:
      operationId: headFlattenedGranuleById
      tags:
        - flattened-granule
      summary: Flattened Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the flattened granule
      responses:
        '200':
          description: Successful operation
        '404':
          description: Request Parsing Error
    get:
      operationId: getFlattenedGranuleById
      tags:
        - flattened-granule
      summary: Flattened Granule by ID
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: UUID of the flattened granule
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    maxItems: 1
                    items:
                      $ref: "#/components/schemas/flattenedGranuleRecord"
        '404':
          description: Request Parsing Error
  /search/flattened-granule:
    post:
      operationId: searchFlattenedGranule
      tags:
        - flattened-granule
      summary: Retrieve flattened granule metadata
      description: 'Retrieve flattened granule metadata records matching the text query string, spatial, and/or temporal filter.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      description: All matching search results are either a summary (default) or a full record, depending on the 'summary' flag in the request.
                      oneOf:
                        - $ref: "#/components/schemas/flattenedGranuleRecord"
                        - $ref: "#/components/schemas/flattenedGranuleRecordSummary"
                    type: array
                  meta:
                    $ref: "#/components/schemas/searchMetadataObject"
                type: object
        '400':
          description: Bad Request

components:
  schemas:
    # Records
    collectionRecord:
      title: Collection
      description: Full collection record.
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/collectionEnum'
        attributes:
          properties:
            accessFeeStatement:
              $ref : "#/components/schemas/accessFeeStatement"
            beginDate:
              $ref : "#/components/schemas/beginDate"
            beginYear:
              $ref : "#/components/schemas/beginYear"
            beginDayOfYear:
              $ref: "#/components/schemas/beginDayOfYear"
            beginDayOfMonth:
              $ref: "#/components/schemas/beginDayOfMonth"
            beginMonth:
              $ref: "#/components/schemas/beginMonth"
            citeAsStatements:
              $ref: "#/components/schemas/citeAsStatements"
            crossReferences:
              $ref: "#/components/schemas/crossReferences"
            dataFormat:
              $ref: "#/components/schemas/dataFormat"
            dataFormats:
              $ref: "#/components/schemas/dataFormats"
            description:
              $ref: "#/components/schemas/description"
            doi:
              $ref: "#/components/schemas/doi"
            dsmmAverage:
              $ref: "#/components/schemas/dsmmAverage"
            edition:
              $ref: "#/components/schemas/edition"
            endDate:
              $ref: "#/components/schemas/endDate"
            endYear:
              $ref: "#/components/schemas/endYear"
            fileIdentifier:
              $ref: "#/components/schemas/fileIdentifier"
            gcmdDataCenters:
              $ref: "#/components/schemas/gcmdDataCenters"
            gcmdHorizontalResolution:
              $ref: "#/components/schemas/gcmdHorizontalResolution"
            gcmdInstruments:
              $ref: "#/components/schemas/gcmdInstruments"
            gcmdLocations:
              $ref: "#/components/schemas/gcmdLocations"
            gcmdPlatforms:
              $ref: "#/components/schemas/gcmdPlatforms"
            gcmdProjects:
              $ref: "#/components/schemas/gcmdProjects"
            gcmdScience:
              $ref: "#/components/schemas/gcmdScience"
            gcmdScienceServices:
              $ref: "#/components/schemas/gcmdScienceServices"
            gcmdTemporalResolution:
              $ref: "#/components/schemas/gcmdTemporalResolution"
            gcmdVerticalResolution:
              $ref: "#/components/schemas/gcmdVerticalResolution"
            individualNames:
              $ref: "#/components/schemas/individualNames"
            isGlobal:
              $ref: "#/components/schemas/isGlobal"
            keywords:
              $ref: "#/components/schemas/keywords"
            largerWorks:
              $ref: "#/components/schemas/largerWorks"
            legalConstraints:
              $ref: "#/components/schemas/legalConstraints"
            linkProtocol:
              $ref: "#/components/schemas/linkProtocol"
            links:
              $ref: "#/components/schemas/links"
            orderingInstructions:
              $ref: "#/components/schemas/orderingInstructions"
            organizationNames:
              $ref: "#/components/schemas/organizationNames"
            parentIdentifier:
              $ref: "#/components/schemas/parentIdentifier"
            serviceLinkProtocol:
              $ref: "#/components/schemas/serviceLinkProtocol"
            serviceLinks:
              $ref: "#/components/schemas/serviceLinks"
            spatialBounding:
              $ref: "#/components/schemas/geometry"
            stagedDate:
              $ref: "#/components/schemas/stagedDate"
            thumbnail:
              $ref: "#/components/schemas/thumbnail"
            title:
              $ref: "#/components/schemas/title"
            useLimitation:
              $ref: "#/components/schemas/useLimitation"
          type: object
          required:
            - fileIdentifier
      required:
        - id
        - type
        - attributes
      type: object
    collectionRecordSummary:
      title: Collection Summary
      description: Summary of a collection record.
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/collectionEnum'
        attributes:
          properties:
            beginDate:
              $ref : "#/components/schemas/beginDate"
            beginYear:
              $ref : "#/components/schemas/beginYear"
            citeAsStatements:
              $ref: "#/components/schemas/citeAsStatements"
            endDate:
              $ref: "#/components/schemas/endDate"
            endYear:
              $ref: "#/components/schemas/endYear"
            links:
              $ref: "#/components/schemas/links"
            serviceLinks:
              $ref: "#/components/schemas/serviceLinks"
            spatialBounding:
              $ref: "#/components/schemas/geometry"
            thumbnail:
              $ref: "#/components/schemas/thumbnail"
            title:
              $ref: "#/components/schemas/title"
          type: object
      required:
        - id
        - type
        - attributes
      type: object
    flattenedGranuleRecord:
      title: Flattened Granule
      description: Full flattened granule record.
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/flattenedGranuleEnum'
        attributes:
          properties:
            accessFeeStatement:
              $ref : "#/components/schemas/accessFeeStatement"
            beginDate:
              $ref : "#/components/schemas/beginDate"
            beginYear:
              $ref : "#/components/schemas/beginYear"
            beginDayOfYear:
              $ref : "#/components/schemas/beginDayOfYear"
            beginDayOfMonth:
              $ref : "#/components/schemas/beginDayOfMonth"
            beginMonth:
              $ref: "#/components/schemas/beginMonth"
            citeAsStatements:
              $ref: "#/components/schemas/citeAsStatements"
            crossReferences:
              $ref: "#/components/schemas/crossReferences"
            dataFormat:
              $ref: "#/components/schemas/dataFormat"
            dataFormats:
              $ref: "#/components/schemas/dataFormats"
            description:
              $ref: "#/components/schemas/description"
            doi:
              $ref: "#/components/schemas/doi"
            dsmmAverage:
              $ref: "#/components/schemas/dsmmAverage"
            edition:
              $ref: "#/components/schemas/edition"
            endDate:
              $ref: "#/components/schemas/endDate"
            endYear:
              $ref: "#/components/schemas/endYear"
            fileIdentifier:
              $ref: "#/components/schemas/fileIdentifier"
            filename:
              $ref: "#/components/schemas/filename"
            gcmdDataCenters:
              $ref: "#/components/schemas/gcmdDataCenters"
            gcmdHorizontalResolution:
              $ref: "#/components/schemas/gcmdHorizontalResolution"
            gcmdInstruments:
              $ref: "#/components/schemas/gcmdInstruments"
            gcmdLocations:
              $ref: "#/components/schemas/gcmdLocations"
            gcmdPlatforms:
              $ref: "#/components/schemas/gcmdPlatforms"
            gcmdProjects:
              $ref: "#/components/schemas/gcmdProjects"
            gcmdScience:
              $ref: "#/components/schemas/gcmdScience"
            gcmdScienceServices:
              $ref: "#/components/schemas/gcmdScienceServices"
            gcmdTemporalResolution:
              $ref: "#/components/schemas/gcmdTemporalResolution"
            gcmdVerticalResolution:
              $ref: "#/components/schemas/gcmdVerticalResolution"
            individualNames:
              $ref: "#/components/schemas/individualNames"
            internalParentIdentifier:
              $ref: "#/components/schemas/internalParentIdentifier"
            isGlobal:
              $ref: "#/components/schemas/isGlobal"
            keywords:
              $ref: "#/components/schemas/keywords"
            largerWorks:
              $ref: "#/components/schemas/largerWorks"
            legalConstraints:
              $ref: "#/components/schemas/legalConstraints"
            linkProtocol:
              $ref: "#/components/schemas/linkProtocol"
            links:
              $ref: "#/components/schemas/links"
            orderingInstructions:
              $ref: "#/components/schemas/orderingInstructions"
            organizationNames:
              $ref: "#/components/schemas/organizationNames"
            parentIdentifier:
              $ref: "#/components/schemas/parentIdentifier"
            serviceLinkProtocol:
              $ref: "#/components/schemas/serviceLinkProtocol"
            serviceLinks:
              $ref: "#/components/schemas/serviceLinks"
            spatialBounding:
              $ref: "#/components/schemas/geometry"
            stagedDate:
              $ref: "#/components/schemas/stagedDate"
            thumbnail:
              $ref: "#/components/schemas/thumbnail"
            title:
              $ref: "#/components/schemas/title"
            useLimitation:
              $ref: "#/components/schemas/useLimitation"
          type: object
          required:
            - fileIdentifier
            - parentIdentifier
            - internalParentIdentifier
      required:
        - id
        - type
        - attributes
      type: object
    flattenedGranuleRecordSummary:
      title: Flattened Granule Summary
      description: Summary of a flattened granule record.
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/flattenedGranuleEnum'
        attributes:
          properties:
            beginDate:
              $ref : "#/components/schemas/beginDate"
            beginYear:
              $ref : "#/components/schemas/beginYear"
            citeAsStatements:
              $ref: "#/components/schemas/citeAsStatements"
            endDate:
              $ref: "#/components/schemas/endDate"
            endYear:
              $ref: "#/components/schemas/endYear"
            internalParentIdentifier:
              $ref: "#/components/schemas/internalParentIdentifier"
            links:
              $ref: "#/components/schemas/links"
            serviceLinks:
              $ref: "#/components/schemas/serviceLinks"
            spatialBounding:
              $ref: "#/components/schemas/geometry"
            thumbnail:
              $ref: "#/components/schemas/thumbnail"
            title:
              $ref: "#/components/schemas/title"
          type: object
          required:
            - internalParentIdentifier
      required:
        - attributes
      type: object
    granuleRecord:
      title: Granule
      description: Full granule record.
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/granuleEnum'
        attributes:
          properties:
            beginDate:
              $ref : "#/components/schemas/beginDate"
            beginYear:
              $ref : "#/components/schemas/beginYear"
            beginDayOfYear:
              $ref: "#/components/schemas/beginDayOfYear"
            beginDayOfMonth:
              $ref: "#/components/schemas/beginDayOfMonth"
            beginMonth:
              $ref: "#/components/schemas/beginMonth"
            citeAsStatements:
              $ref: "#/components/schemas/citeAsStatements"
            dataFormat:
              $ref: "#/components/schemas/dataFormat"
            dataFormats:
              $ref: "#/components/schemas/dataFormats"
            description:
              $ref: "#/components/schemas/description"
            doi:
              $ref: "#/components/schemas/doi"
            endDate:
              $ref: "#/components/schemas/endDate"
            endYear:
              $ref: "#/components/schemas/endYear"
            endDayOfYear:
              $ref: "#/components/schemas/endDayOfYear"
            endDayOfMonth:
              $ref: "#/components/schemas/endDayOfMonth"
            endMonth:
              $ref: "#/components/schemas/endMonth"
            fileIdentifier:
              $ref: "#/components/schemas/fileIdentifier"
            filename:
              $ref: "#/components/schemas/filename"
            gcmdDataCenters:
              $ref: "#/components/schemas/gcmdDataCenters"
            gcmdHorizontalResolution:
              $ref: "#/components/schemas/gcmdHorizontalResolution"
            gcmdInstruments:
              $ref: "#/components/schemas/gcmdInstruments"
            gcmdLocations:
              $ref: "#/components/schemas/gcmdLocations"
            gcmdPlatforms:
              $ref: "#/components/schemas/gcmdPlatforms"
            gcmdProjects:
              $ref: "#/components/schemas/gcmdProjects"
            gcmdScience:
              $ref: "#/components/schemas/gcmdScience"
            gcmdScienceServices:
              $ref: "#/components/schemas/gcmdScienceServices"
            gcmdTemporalResolution:
              $ref: "#/components/schemas/gcmdTemporalResolution"
            gcmdVerticalResolution:
              $ref: "#/components/schemas/gcmdVerticalResolution"
            internalParentIdentifier:
              $ref: "#/components/schemas/internalParentIdentifier"
            isGlobal:
              $ref: "#/components/schemas/isGlobal"
            keywords:
              $ref: "#/components/schemas/keywords"
            linkProtocol:
              $ref: "#/components/schemas/linkProtocol"
            links:
              $ref: "#/components/schemas/links"
            parentIdentifier:
              $ref: "#/components/schemas/parentIdentifier"
            serviceLinkProtocol:
              $ref: "#/components/schemas/serviceLinkProtocol"
            serviceLinks:
              $ref: "#/components/schemas/serviceLinks"
            spatialBounding:
              $ref: "#/components/schemas/geometry"
            stagedDate:
              $ref: "#/components/schemas/stagedDate"
            thumbnail:
              $ref: "#/components/schemas/thumbnail"
            title:
              $ref: "#/components/schemas/title"
          type: object
          required:
            - fileIdentifier
            - parentIdentifier
            - internalParentIdentifier
      required:
        - attributes
      type: object
    granuleRecordSummary:
      title: Granule Summary
      description: Summary of a granule record.
      properties:
        id:
          $ref: '#/components/schemas/uuid'
        type:
          $ref: '#/components/schemas/granuleEnum'
        attributes:
          properties:
            beginDate:
              $ref : "#/components/schemas/beginDate"
            beginYear:
              $ref : "#/components/schemas/beginYear"
            citeAsStatements:
              $ref: "#/components/schemas/citeAsStatements"
            endDate:
              $ref: "#/components/schemas/endDate"
            endYear:
              $ref: "#/components/schemas/endYear"
            internalParentIdentifier:
              $ref: "#/components/schemas/internalParentIdentifier"
            links:
              $ref: "#/components/schemas/links"
            serviceLinks:
              $ref: "#/components/schemas/serviceLinks"
            spatialBounding:
              $ref: "#/components/schemas/geometry"
            thumbnail:
              $ref: "#/components/schemas/thumbnail"
            title:
              $ref: "#/components/schemas/title"
          type: object
          required:
            - internalParentIdentifier
      required:
        - attributes
      type: object

    # Filters
    requestBody:
      additionalProperties: false
      description: "The shape of a search request body that can be sent to the OneStop API to execute a search against available metadata. Collections are returned by default unless a collection filter is included, resulting in granules being returned."
      properties:
        facets:
          default: false
          description: "Flag to request counts of results by GCMD keywords in addition to results."
          type: boolean
        filters:
          items:
            anyOf:
              - $ref: "#/components/schemas/dateTimeFilter"
              - $ref: "#/components/schemas/yearFilter"
              - $ref: "#/components/schemas/facetFilter"
              - $ref: "#/components/schemas/fieldFilter"
              - $ref: "#/components/schemas/geometryFilter"
              - $ref: "#/components/schemas/collectionFilter"
              - $ref: "#/components/schemas/excludeGlobalFilter"
              - $ref: "#/components/schemas/checksumFilter"
          type: array
        page:
          $ref: "#/components/schemas/page"
        sort:
          $ref: "#/components/schemas/sort"
        search_after:
          $ref: "#/components/schemas/searchAfter"
        queries:
          items:
            oneOf:
              - $ref: "#/components/schemas/textQuery"
              - $ref: "#/components/schemas/granuleNameQuery"
          type: array
        summary:
          default: true
          description: "Flag to request summary of search results instead of full set of attributes."
          type: boolean
      title: "Search Request"
      type: object
    collectionFilter:
      additionalProperties: false
      description: "Filter granules by specific collection(s). If multiple collection filters are used, or multiple values in a single collection filter, then the search is performed with a logical OR."
      properties:
        type:
          description: "Filter type."
          enum:
            - collection
        values:
          description: "List of collection UUIDs."
          items:
            description: "Collection UUID"
            type: string
          type: array
      required:
        - type
        - values
      title: "Collection Filter"
      type: object
    dateTimeFilter:
      additionalProperties: false
      description: "Filter results by before, after, or a date range."
      properties:
        after:
          description: "Beginning of the date range, e.g., look for all results *after* this date."
          format: date-time
          type: string
        before:
          description: "End of the date range, e.g., look for all results *before* this date."
          format: date-time
          type: string
        relation:
          default: intersects
          description: "How the result time range relates to the query time range, e.g., return all datasets whose time range is within the given time range."
          enum:
            - contains
            - disjoint
            - intersects
            - within
        type:
          description: "Filter type."
          enum:
            - datetime
      required:
        - type
      title: "Datetime Filter"
      type: object
    excludeGlobalFilter:
      additionalProperties: false
      description: "Flag to request that geospatially global results be excluded. Defaults to false if not provided."
      properties:
        type:
          description: "Filter type."
          enum:
            - excludeGlobal
        value:
          default: false
          type: boolean
      required:
        - type
        - value
      title: "Exclude Global Filter"
      type: object
    checksumFilter:
      additionalProperties: false
      description: "Filter granules by specific checksum(s) and algorithm."
      properties:
        type:
          description: "Filter type."
          enum:
            - checksum
        algorithm:
          description: "The checksum algorithm to match"
          enum:
            - MD5
            - SHA1
            - SHA256
            - SHA512
        values:
          description: "List of checksums"
          items:
            description: "Checksum"
            type: string
          type: array
      required:
        - type
        - values
      title: "Checksum Filter"
      type: object
    facetFilter:
      additionalProperties: false
      description: "Filters results based on given terms (data formats, link protocols, service link protocols, link functions, GCMD keywords) where returned results MUST have the specified term values. Multiple facetFilter objects will be combined with logical AND; multiple values in a single facetFilter object will be combined with the logical OR."
      properties:
        name:
          description: "One of the following: 'dataFormats', 'linkProtocols', 'serviceLinkProtocols', 'linkAccessTypes' or GCMD keyword categories ('science', 'services', 'locations', 'instruments', 'platforms', 'projects', 'dataCenters', 'horizontalResolution', 'verticalResolution', 'temporalResolution')."
          enum:
            - dataFormats
            - linkProtocols
            - serviceLinkProtocols
            - linkAccessTypes
            - science
            - services
            - locations
            - instruments
            - platforms
            - projects
            - dataCenters
            - horizontalResolution
            - verticalResolution
            - temporalResolution
        type:
          description: "Filter type."
          enum:
            - facet
        values:
          description: "List of terms to match"
          items:
            description: "Exact match data format(s) (e.g. - \"NETCDF\"), link or service link protocol(s) (e.g. - \"ftp\"), or GCMD keyword(s) (e.g. - \"Atmosphere > Atmospheric Temperature > Surface Temperature\")"
            type: string
          type: array
      required:
        - type
        - name
        - values
      title: "Facet Filter"
      type: object
    fieldFilter:
      additionalProperties: false
      description: "Filter by specific fields and their values. This is *not* a Lucene text search, and only includes fields that are not appropriate for a full text search. If the \"exactMatch\" parameter is set to false, you may include the wildcard characters '*' or '?' in the \"value\" parameter. "
      properties:
        type:
          description: "Filter type."
          enum:
            - field
        name:
          description: "The field name to search on. This supports one level of nesting, e.g. \"links.linkUrl\". Note: you cannot perform this query on Lucene text fields such as \"filename\" or \"title\". For those cases, use the \"granuleName\" or \"queryText\" queries instead."
          enum:
            - fileIdentifier
            - parentIdentifier
            - doi
            - gcmdScience
            - gcmdScienceServices
            - gcmdLocations
            - gcmdInstruments
            - gcmdPlatforms
            - gcmdProjects
            - gcmdDataCenters
            - gcmdHorizontalResolution
            - gcmdVerticalResolution
            - gcmdTemporalResolution
            - dataFormats.name
            - dataFormats.version
            - checksums.algorithm
            - checksums.value
            - links.linkName
            - links.linkUrl
            - links.linkFunction
            - links.linkProtocol
            - fileFormat
        value:
          description: "Text to filter with for the provided field. If \"exactMatch\" is false, this can include the wildcard characters '*' or '?'."
          type: string
        exactMatch:
          description: "Controls the matching type of the provided \"value\" text. Defaults to true, meaning it will only return results that match the \"value\" exactly. If false, you can include the wildcard characters '*' or '?' to match against a pattern."
          type: boolean
          default: true
      required:
        - type
        - name
        - value
      title: "Field Query"
      type: object
    geometryFilter:
      additionalProperties: false
      description: "Filter that returns results whose bounding geometry contains the specified geographical coordinate."
      properties:
        geometry:
          $ref: "#/components/schemas/geometry"
        relation:
          default: intersects
          description: "How the result geometry relates to the query geometry, e.g., return all datasets whose geometry contains the given point."
          enum:
            - contains
            - disjoint
            - intersects
            - within
        type:
          description: "Filter type."
          enum:
            - geometry
      required:
        - type
        - geometry
      title: "Geometry Filter"
      type: object
    sort:
      description: "Sort results"
      items:
        anyOf:
          - $ref: "#/components/schemas/sortFilter"
    sortFilter:
      type: object
      additionalProperties: false
      properties:
        stagedDate:
          default: asc
        beginDate:
          default: asc
        endDate:
          default: asc
    searchAfter:
      type: array
    page:
      description: "Result page"
      properties:
        max:
          default: 10
          description: "Maximum number of results returned."
          maximum: 1000
          minimum: 0
          type: integer
        offset:
          default: 0
          description: "Number of records by which to offset results."
          type: number
      type: object
    textQuery:
      additionalProperties: false
      description: "When providing multiple queryText objects in your search request, keep in mind that they will be combined with a logical AND. Terms use Lucene Query Syntax."
      properties:
        type:
          description: "Query type."
          enum:
            - queryText
        value:
          description: "Text query to search with that is valid so long as it does not have a leading wildcard ('*' or '?')"
          pattern: "^(?!\\s*[\\*\\?]+).*"
          type: string
      required:
        - type
        - value
      title: "Text Query"
      type: object
    yearFilter:
      additionalProperties: false
      description: "Filter results by before, after, or a date range. Differs from the Datetime Filter in that it handles year values only."
      properties:
        after:
          description: "Beginning of the date range, e.g., look for all results *after* this year."
          multipleOf: 1
          type: number
        before:
          description: "End of the date range, e.g., look for all results *before* this year."
          multipleOf: 1
          type: number
        relation:
          default: intersects
          description: "How the result time range relates to the query time range, e.g., return all datasets whose time range is within the given time range."
          enum:
            - contains
            - disjoint
            - intersects
            - within
        type:
          description: "Filter type."
          enum:
            - year
      required:
        - type
      title: "Year Filter"
      type: object
    granuleNameQuery:
      additionalProperties: false
      description: "Query by granule \"name\" fields ONLY. Note that when combined with the textQuery, matches against the \"name\" fields will be given a double boost in relevance score (due to matching twice across both query objects). If providing multiple granuleName query objects in your search request, keep in mind that they will be combined with a logical AND."
      properties:
        type:
          description: "Query type."
          enum:
            - granuleName
        value:
          description: "Text to search one or all of the granule name fields. All text is treated literally, i.e., this query type does not interpret any special syntax like wildcards, operators, or regular expressions."
          type: string
        field:
          description: "The single \"name\" field to query against, or all of the possible fields."
          enum:
            - title
            - fileIdentifier
            - filename
            - all
          default: all
        allTermsMustMatch:
          description: "Controls the underlying behavior of the query. True means that results are excluded if all terms in the given \"value\" are not found within the specified \"field\". False only excludes results if no terms match at all. Defaults to false."
          type: boolean
          default: false
      required:
        - type
        - value
      title: "Granule Name Query"
      type: object
    # Record field schemas
    accessFeeStatement: # TODO is this an array? # TODO description
      type: string
    beginDate:
      description: Begin date of temporal bounding. This will be null if the record has a year further back than -100,000,000.
      format: date
      type: string
    beginYear:
      description: Begin year of temporal bounding.
      format: int64
      type: integer
    beginDayOfYear:
      description: Begin day of year of temporal bounding.
      format: int64
      type: integer
    beginDayOfMonth:
      description: Begin day of month of temporal bounding, 1 to 31.
      format: int64
      type: integer
    beginMonth:
      description: Begin month of temporal bounding, 1 to 12.
      format: int64
      type: integer
    citeAsStatements:
      # description: TODO
      items:
        type: string
      type: array
    crossReferences:
      # TODO description
      items:
        properties:
          date:
            type: string
          links:
            $ref: "#/components/schemas/links"
          title:
            type: string
        type: object
      type: array
    dataFormat:
      description: DEPRECATED. List of data format names.
      items:
        type: string
      type: array
    dataFormats:
      description: List of data formats, indicating both format name, and version.
      items:
        properties:
          name:
            example: NETCDF
            type: string
          version:
            example: netCDF-3
            type: string
        required:
          - name
          - version
        type: object
      type: array
    description:
      description: Long description of this record.
      type: string
    doi:
      description: Optional DOI identifier for this record.
      type: string
    dsmmAverage:
      description: |
        The mean average calculation of the numerical scores of the following measures. Each measure is scored on the following scale.

        ---

        Measures:

          * Accessibility
          * DataIntegrity
          * DataQualityAssessment
          * DataQualityAssurance
          * DataQualityControlMonitoring
          * Preservability
          * ProductionSustainability
          * TransparencyTraceability
          * Usability

        Scale:

          * notAvailable	0
          * adHoc	1
          * minimal	2
          * intermediate	3
          * advanced	4
          * optimal	5
      type: number
      format: float
      minimum: 0
      maximum: 5
      default: 0.0
    edition:
      #TODO or array?
      #TODO description
      type: string
    endDate:
      description: End date of temporal bounding. This will be null if the record has a year further back than -100,000,000.
      format: date
      type: string
    endYear:
      description: End year of temporal bounding.
      format: int64
      type: integer
    endDayOfYear:
      description: End day of year of temporal bounding.
      format: int64
      type: integer
    endDayOfMonth:
      description: End day of month of temporal bounding, 1 to 31.
      format: int64
      type: integer
    endMonth:
      description: End month of temporal bounding, 1 to 12.
      format: int64
      type: integer
    fileIdentifier:
      description: Identifier for this record.
      type: string
    filename:
      description: Filename associated with this record.
      type: string
    gcmdDataCenters:
      description: GCMD Data Center keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdHorizontalResolution:
      description: GCMD Horizontal Data Resolution keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdInstruments:
      description: GCMD Instrument keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdLocations:
      description: GCMD Location and Place keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdPlatforms:
      description: GCMD Platform keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdProjects:
      description: GCMD Project keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdScience:
      description: GCMD Earth Science keyords. These keywords are normalized, and 'Earth Science' is removed from the values.
      items:
        type: string
      type: array
    gcmdScienceServices:
      description: GCMD Earth Science Services keywords. These keywords are normalized, and 'Earth Science Services' is removed from the values.
      items:
        type: string
      type: array
    gcmdTemporalResolution:
      description: GCMD Temporal Data Resolution keywords. These keywords are normalized.
      items:
        type: string
      type: array
    gcmdVerticalResolution:
      description: GCMD Vertical Data Resolution keywords. These keywords are normalized.
      items:
        type: string
      type: array
    individualNames:
      description: Individual names from all contacts and creators.
      items:
        type: string
      type: array
    internalParentIdentifier:
      description: UUID of the parent collection record.
      type: string
    isGlobal:
      description: This field is calculated upon ingest of the spatialBounding and set to **true** if and only if the data is a bounding box from [-180, 180] longitude and [-90 to 90] latitude.
      default: false
      type: boolean
    keywords:
      description: Keywords from all vocabularies.
      items:
        type: string
      type: array
    largerWorks: # TODO description
      items:
        properties:
          title:
            type: string
          date:
            type: string
          links:
            $ref: "#/components/schemas/links"
        type: object
      type: array
    legalConstraints: # TODO description
      items:
        type: string
      type: array
    link:
      properties:
        linkDescription:
          description: Long description of the link.
          type: string
        linkFunction:
          description: A high level category the link belongs to.
          oneOf:
            - $ref: "#/components/schemas/linkFunction"
            - type: string
        linkName:
          description: Short description of the link. Equivalent to a title.
          type: string
        linkProtocol:
          description: A protocol describing the type of link. This is often more specific than the URL protocol. 'THREDDS' and 'OPENDAP:HYRAX' are examples of these types of protocols.
          example: HTTPS
          type: string
        linkUrl:
          description: URL of the link.
          type: string
      required:
        - linkUrl
      type: object
    linkFunction:
      enum:
        - information
        - search
        - download
        - order
        - offlineAccess
      type: string
    linkProtocol:
      description: DEPRECATED. List of protocols in the links.
      items:
        type: string
      type: array
    links:
      items:
        oneOf:
          -
            $ref: "#/components/schemas/link"
      type: array
    orderingInstructions:
      type: string # TODO or array? # TODO descrption
    organizationNames:
      description: Organization names from all contacts, creators, and publishers.
      items:
        type: string
      type: array
    parentIdentifier:
      description: The fileIdentifier or DOI of the parent record.
      type: string
    serviceLinkProtocol:
      description: DEPRECATED. No longer in use. Expect an empty array.
      items:
        type: string
      type: array
    serviceLinks:
      description: Links to services related to this record.
      items:
        properties:
          alternateTitle:
            type: string
          description:
            description: Long description of the service referenced by this record.
            type: string
          links:
            items:
              $ref: "#/components/schemas/link"
            type: array
          title:
            description: Title of the service referenced by this record.
            type: string
        type: object
      type: array
    stagedDate:
      description: (DEPRECATED) Unix timestamp of when ISO metadata record was ingested. This field exists entirely for internal management purposes. In practice it is the timestamp of when the data was loaded or most recently updated.
      format: int64 # it's ES's epoch_millis date format
      type: integer
    thumbnail:
      description: URL to a thumbnail graphic for this record.
      type: string
    title:
      description: Title of this record.
      type: string
    useLimitation:
      type: string # TODO is this an array? look for an example # TODO description
    uuid:
      description: UUID for this record.
      type: string

    # GeoJSON
    LineString:
      properties:
        coordinates:
          $ref: "#/components/schemas/lineString"
        type:
          enum:
            - LineString
      required:
        - type
        - coordinates
    MultiLineString:
      properties:
        coordinates:
          items:
            $ref: "#/components/schemas/lineString"
          type: array
        type:
          enum:
            - MultiLineString
      required:
        - type
        - coordinates
    MultiPoint:
      properties:
        coordinates:
          $ref: "#/components/schemas/positionArray"
        type:
          enum:
            - MultiPoint
      required:
        - type
        - coordinates
    MultiPolygon:
      properties:
        coordinates:
          items:
            $ref: "#/components/schemas/polygon"
          type: array
        type:
          enum:
            - MultiPolygon
      required:
        - type
        - coordinates
    Point:
      properties:
        coordinates:
          $ref: "#/components/schemas/position"
        type:
          enum:
            - Point
      required:
        - type
        - coordinates
      type: object
    Polygon:
      properties:
        coordinates:
          $ref: "#/components/schemas/polygon"
        type:
          enum:
            - Polygon
      required:
        - type
        - coordinates
    geometry:
      description: "One geometry as defined by GeoJSON. Can be a point, multipoint, linestring, mutlilinestring, polygon, or multipolygon."
      oneOf:
        - $ref: "#/components/schemas/Point"
        - $ref: "#/components/schemas/MultiPoint"
        - $ref: "#/components/schemas/LineString"
        - $ref: "#/components/schemas/MultiLineString"
        - $ref: "#/components/schemas/Polygon"
        - $ref: "#/components/schemas/MultiPolygon"
      title: Geometry
    lineString:
      allOf:
        - $ref: "#/components/schemas/positionArray"
        - minItems: 2
      description: "An array of two or more positions"
    linearRing:
      # type: array
      allOf:
        - $ref: "#/components/schemas/positionArray"
        - minItems: 4
      # items:
      #   - $ref: "#/components/schemas/position"
      # minItems: 4
      description: "An array of four positions where the first equals the last"
    polygon:
      description: "An array of linear rings"
      items:
        $ref: "#/components/schemas/linearRing"
      type: array
    position:
      description: "A single position. [Longitude, Latitude]. Longitude must be within the range ±360. Latitude must be within the range ±90."
      items:
        description: coordinate
        type: number
      maxItems: 2
      minItems: 2
    positionArray:
      description: "An array of positions"
      items:
        $ref: "#/components/schemas/position"
      type: array

    # HELPER SCHEMAS
    granuleEnum:
      title: enum
      description: value must be 'granule'
      enum:
        - granule
      type: string
    flattenedGranuleEnum:
      title: enum
      description: value must be 'flattened-granule'
      enum:
        - flattened-granule
      type: string
    collectionEnum:
      title: enum
      description: value must be 'collection'
      enum:
        - collection
      type: string

    # TODO misc
    searchMetadataObject:
      properties:
        facets:
          description: "Included based on the 'facets' flag in the request. These are aggregations indicating total counts for a variety of facets that can be used in the facet filter to refine results."
          properties:
            dataFormats:
              additionalProperties:
                description: The key / property name is a Data Format. These are always upper case. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            linkProtocols:
              additionalProperties:
                description: The key / property name is a Protocl. These are always upper case. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            serviceLinkProtocols:
              additionalProperties:
                description: The key / property name is a Protocl. These are always upper case. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            science:
              additionalProperties:
                description: The key / property name is a GCMD Earth Science keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            services:
              additionalProperties:
                description: The key / property name is a GCMD Earth Science Services keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            locations:
              additionalProperties:
                description: The key / property name is a GCMD Location or Place keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            platforms:
              additionalProperties:
                description: The key / property name is a GCMD Platform keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            projects:
              additionalProperties:
                description: The key / property name is a GCMD Project keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            dataCenters:
              additionalProperties:
                description: The key / property name is a GCMD Data Center keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            horizontalResolution:
              additionalProperties:
                description: The key / property name is a GCMD Horizontal Data Resolution keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            verticalResolution:
              additionalProperties:
                description: The key / property name is a GCMD Vertical Data Resolution keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
            temporalResolution:
              additionalProperties:
                description: The key / property name is a GCMD Temporal Data Resolution keyword. # TODO how do I word this?
                type: object
                properties:
                  count:
                    type: integer
                    minimum: 1
          type: object
        took: # TODO add a description
          type: integer
        total:
          description: "total number of results matching the search"
          type: integer
      type: object

  examples:
    payload0:
      value:
        queries:
          - type: queryText
            value: climate
        facets: true
        page:
          max: 20
          offset: 0
      summary: basic text query
    payload1:
      value:
        queries:
          - type: queryText
            value: weather
        filters:
          - type: facet
            name: science
            values:
              - Agriculture
              - Atmosphere > Atmospheric Radiation > Incoming Solar Radiation
        facets: true
        page:
          max: 20
          offset: 0
      summary: multiple science theme filters selected
    payload2:
      value:
        queries:
          - type: queryText
            value: weather
        filters:
          - type: facet
            name: science
            values:
              - Agriculture
          - type: facet
            name: instruments
            values:
              - ADCP > Acoustic Doppler Current Profiler
        facets: true
        page:
          max: 20
          offset: 0
      summary: multiple facets selected
    payload3:
      value:
        queries:
          - type: queryText
            value: weather
        filters: []
        facets: false
        page:
          max: 20
          offset: 20
      summary: Next Page request
