@import '../../style/style.css';

.landingComponents {
  margin: 10em auto;
  position: relative;
  color: black;
  background: rgba(0, 0, 0, 0.7);
  filter: alpha(opacity=30); /* For IE8 and earlier */
  height: 210px;
  width: 600px;
}

.mapButton,
.mapButton:active,
.mapButton:hover {
  margin: auto 2em;
  padding: 2em 0;
  display: inline-block;
  height: 30px;
  width: 60px;
  background: url('../../img/mapIcon.png') center center no-repeat;
  background-size: 60%;
  background-color: $color-primary;
}

.temporalBox {
  display: inline-block;
  margin: 2em;
}

.mapContainer {
  margin: auto;
  width: 50%;
}

.searchFields {
  text-align: center;
  color: black;
}

.dropDown {
  padding: 10px 0 0 0;
  display: inline-block;
}
