@import '../../style/style.css';

.landingComponents {
  margin: 10em auto;
  position: relative;
  color: black;
  background: rgba(0, 0, 0, 0.7);
  filter: alpha(opacity=30); /* For IE8 and earlier */
  height: 210px;
  width: 600px;
}

.landingButton {
  color: white;
  text-shadow: 0 0 5px black;
  background-color: $color-primary;
  font-weight: bold;
  margin-right: 2em;
}

.searchButton {
  background-color: $color-success;
}

.temporalBox {
  display: inline-block;
  margin: 2em;
}

.mapContainer {
  margin: auto;
  width: 50%;
}

.searchFields {
  color: black;
  margin: 2em 1em 1em 1em;
  position: relative;
  font-size: 2em;
  width: 90%;
  height: 2em;
  display: inline-block;
}

.dropDown {
  padding: 10px 0 0 0;
  display: inline-block;
}
