@import '../../style/style.css';

.textField {
  margin: 2em auto 1em auto;
  position: relative;
  font-size: 2em;
  width: 90%;
  display: block;
  height: 2em;
  color: black;
  display: inline-block;
}
