@import '../../style/style.css';

.textField {
  display: inline;
  width: 300px;
  color: black;
  display: inline-block;
  margin: 0 0 0 auto;
}

.searchFields {
  margin: 10px 0 0;
  float: right;
  width: 600;
  color: black;
}

.dropDown {
  float: right;
  width: 200;
  padding: 10px 0 0 0;
  display: inline-block;
}

.searchButton {
  color: blue;
}

.dateTimeField{
  display: inline;
  display: inline-block;
}

.temporalDropdown{
  display: inline;
  background-color: #2f6fad;
  margin: 5px;
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
}

.box1 {
  width: 40%;
  margin: 0 auto;
  background: #2f6fad;
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}