@import '../../style/style.css';

.textField {
  display: inline;
  width: 300px;
  color: black;
  display: inline-block;
  margin: 0 0 0 auto;
}

.searchFields {
  margin: 10px 0 0;
  float: right;
  width: 600;
  color: black;
}

.dropDown {
  float: right;
  width: 200;
  padding: 10px 0 0 0;
  display: inline-block;
}

.searchButton {
  color: blue;
}

.dateTimeField{
  display: inline;
  display: inline-block;
}

.temporalDropdown{
  display: inline;
  background-color: #2f6fad;
  margin: 7px;
  font-size: 1.2em;
  line-height: 1.5em;
  color: white;
}