@import '../../style/style.css';

.searchFields {
  display: inline;
  font-size: 1.2em;
  height: 3em;
  z-index: 1;
}

.searchContainer {
  color: black;
  max-width: 32em;
  min-width: 22em;
  display: inline-block;
}

.searchLayout {
  display: inline-block;
}

.buttonLayout {
  position: relative;
  display: inline-block;
  > button {
    display: inline-block;
  }
}

$button-threshold: 96em;
@media (max-width: $button-threshold){
  .header {
    .buttonLayout {
      display: flex;
      justify-content: space-between;
      > button {
        width: 5em;
        margin-left: 0;
        margin-top: .5em;
      }
    }
  }
}

@media (min-width: $button-threshold){
  .burgerMenu {
    display: none;
  }
}

.mapContainer {
  position: fixed;
  z-index: 20;
  left: 50%;
  margin-top: 2em;
  margin-left: -30%;
  box-shadow: 14px 14px 5px rgb(0,0,0,.7);
  border: 2px outset $color-primary;
  height: 30em;
  width: 80%;
  max-width: 70em;
}

.clearButton {
  margin-left: -1.26em;
  height: 1em;
  color: grey;
  border: none;
  font-size: 1.2em;
  text-shadow: none;
  background-color: white;
}

.clearButton:hover {
  color: #5a5a5a;
}

.clearButton:focus {
  outline: 0;
}

.undoButton,
.searchButton,
.timeButton,
.mapButton {
  max-height: 2.2em;
  position: relative;
  color: white !important;
  background-color: $color-primary !important;
  text-shadow: 0 0 5px black;
  margin-left: .5em;
}

.searchButton:focus {
  outline: 0;
}

.timeButtonApplied,
.mapButtonApplied {
  max-height: 2.2em;
  position: relative;
  color: white !important;
  background-color: $color-visited-light !important;
  text-shadow: 0 0 5px black;
  margin-left: .5em;
}

/* fix for large, unclickable area on button */
.undoButton:before,
.searchButton:before,
.timeButton:before,
.mapButton:before,
.timeButtonApplied:before,
.mapButtonApplied:before {
  position:absolute;
  content:'';
  top:-1px;
  right:-1px;
  left:-1px;
  bottom:-1px;
}

.icon {
  text-align: center;
  line-height: 64% !important;
}

.hidden {
  display: none;
}

.warning {
  display: block;
  font-size: .75em;
  color: red;
  padding-top: 1em;
  text-align: center;
}
