@import '../../style/style.css';
:global {@import '../../node_modules/react-date-picker/index.css';}
/*:global {@import '../../node_modules/react-date-picker/base.css';}*/
/*:global {@import '../../node_modules/react-date-picker//theme/hackerone.css';}*/


.textField {
  width: 300px;
  color: black;
  display: inline-block;
  margin: 0 0 0 auto;
}

.searchFields {
  margin: 10px 0 0;
  float: right;
  width: 600;
  color: black;
}

.dropDown {
  float: right;
  width: 200;
  padding: 10px 0 0 0;
  display: inline-block;
}

.searchButton {
  color: blue;
}

.dateTimeField{
  display: inline;
  display: inline-block;
}

.calandarTimeField{
  padding: 10px;
}

.startTimeField{
  display: inline;
  display: inline-block;
  margin-left: 7px;
}

.endTimeField{
  display: inline;
  display: inline-block;
  margin-left: 7px;
}

.temporalDropdown{
  display: inline;
  background-color: #2f6fad;
  margin: 7px;
  font-size: 1.2em;
  line-height: 1.5em;
  color: white;
}
